<template>
    <div class="card">
        <div class="card-header text-center">Shopping Cart</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="/img/placeholder-blue.png">
                    </div>
                    <div class="col-md-9">
                        <div>Article Number</div>
                        <div>Product Name</div>
                        <div>Description</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-thumbnail" src="/img/placeholder-blue.png">
                    </div>
                    <div class="col-md-9">
                        <div>Article Number</div>
                        <div>Product Name</div>
                        <div>Description</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card-body">
            <div class="mb-4">
               Total: 121,02 CHF
            </div>
            <div>
                <button class="btn btn-block btn-success">Buy</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Cart"
    }
</script>

<style scoped>

</style>