<template>
    <div>
        <h2 class="mb-4 text-center">Shop</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-30">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-success">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-30">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-success">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-30">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-success">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-30">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-success">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-30">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-success">Show Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-30">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-success">Show Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Shop"
    }
</script>

<style scoped>
    .mb-30 {
        margin-bottom: 30px;
    }
</style>