<template>
    <div>
        <h2 class="mb-4 text-center">Project Pool</h2>
        <div class="row">
            <div class="col-md-12" v-for="project in projects.items" :key="project.id">
                <div class="card mb-30">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-thumbnail" src="/img/placeholder-blue.png">
                            </div>
                            <div class="col-md-8">
                                <h3>{{ project.title }}</h3>
                                <div>{{ project.description }}</div>
                                <div><router-link :to="`/projects/${project.id}`">Show Details</router-link></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "ProjectsList",
        computed: {
            ...mapGetters([
                'projects'
            ])
        },
        methods: {
            ...mapActions('project', ['projectsList'])
        },
        created() {
            this.projectsList()
        }
    }
</script>

<style scoped>
    .mb-30 {
        margin-bottom: 30px;
    }
</style>