<template>
    <div>
        <h2 class="mb-4 text-center">Project Detail</h2>
        <div>
            <router-link to="/projects">Back to Projects List</router-link>
        </div>
        <h1>{{ project.title }}</h1>
        <div>{{ project.description }}</div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "ProjectDetail",
        computed: {
            ...mapGetters([
                'project'
            ])
        },
        methods: {
            ...mapActions('project', ['projectDetail'])
        },
        created() {
            this.projectDetail(this.$route.params.id)
        }
    }
</script>

<style scoped>

</style>