<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Bearbeitungsfläche:</div>
        </div>
        <div class="tabs-row">
            <button class="tab-btn" :class="{ active : activeTab === 'totalArea' }" @click="activeTab = 'totalArea'">
                <img src="/img/total-area.svg">
                Gesamtfläche
            </button>
            <button class="tab-btn" :class="{ active : activeTab === 'calculateArea' }" @click="activeTab = 'calculateArea'">
                <img src="/img/wall.svg">
                Fläche berechnen
            </button>
        </div>
        <template v-if="activeTab === 'totalArea'">
            <div class="tab-content">
                <div class="input-holder">
                    <input type="number" v-model.number="object_total_square" min="0" placeholder="Gesamtfläche:"/>
                </div>
                <div class="divider"></div>
                <div class="form-holder">
                    <div class="total-row">
                        <div class="total-text">Total:</div>
                        <div class="total-num">{{ object_total_square }} M<sup>2</sup></div>
                    </div>
                    <button @click="addSquare">
                        Weiter
                    </button>
                </div>
            </div>
        </template>
        <template v-else-if="activeTab === 'calculateArea'">
            <div class="tab-content">
                <div class="input-holder">
                    <input type="number" v-model.number="dimensions.object_width" min="0" @change="calcSquare" placeholder="Breite in Meter:"/>
                </div>
                <div class="input-holder">
                    <input type="number" v-model.number="dimensions.object_height" min="0" @change="calcSquare" placeholder="Höhe in Meter:"/>
                </div>
                <div class="input-holder">
                    <input type="number" v-model.number="dimensions.object_length" min="0" @change="calcSquare" placeholder="Länge in Meter:"/>
                </div>
                <div class="divider"></div>
                <div class="form-holder">
                    <div class="total-row">
                        <div class="total-text">Total:</div>
                        <div class="total-num">{{ dimensions.object_total_square }} M<sup>2</sup></div>
                    </div>
                    <button @click="addTotalSquare">
                        Weiter
                    </button>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapActions } from 'vuex'

    export default {
        name: "AddSquare",
        components: { GoBack },
        data(){
            return {
                activeTab: 'totalArea',
                dimensions: {
                    object_height: 0,
                    object_width: 0,
                    object_length: 0,
                    object_total_square: 0,
                },
                object_total_square: 0,
                error: null
            }
        },
        methods: {
            ...mapActions('professionalProject', [
                'updateTaskSquare'
            ]),
            calcSquare() {
                this.error = null;
                this.dimensions.object_total_square = 2 * (this.dimensions.object_width * this.dimensions.object_height + this.dimensions.object_width * this.dimensions.object_length + this.dimensions.object_height * this.dimensions.object_length);
            },
            addSquare() {
                this.updateTaskSquare(this.object_total_square * 100);
            },
            addTotalSquare() {
                this.updateTaskSquare(this.dimensions.object_total_square * 100);
            }
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .tabs-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .tab-btn {
        background: #ECEFF1;
        border: none;

        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 17px 20px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;

        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #000000;
    }
    .tab-btn.active {
        background: #fff;
    }
    .tab-btn img {
        margin-right: 10px;
    }
    .tab-content {
        padding: 35px 60px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #1E88E5;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 30px;
    }
    .divider {
        height: 1px;
        background: #ECEFF1;
        margin: 0 -40px;
    }
    .form-holder {
        padding: 25px 0;
    }
    .total-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .total-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
    }
    .total-num {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }
    .form-holder button {
        display: block;
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        background: #1E88E5;
        padding: 11px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        border-radius: 50px;
        border: none;
    }
</style>