<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Wand malen / streichen:</div>
        </div>
        <div class="task-details-form">
            <div class="input-holder">
                <input type="text" placeholder="Aufgabenname:" v-model="title"/>
            </div>
            <div class="input-holder">
                <input type="text" placeholder="Beschreibung:" v-model="description"/>
            </div>
            <div class="task-details-btns">
                <button class="next" @click="updateTask">Weiter</button>
                <button class="skip" @click="updateTask">Überspringen</button>
            </div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapActions } from 'vuex'

    export default {
        name: "AddTaskDetails",
        components: { GoBack },
        data(){
            return {
                title: '',
                description: '',
                error: null
            }
        },
        methods: {
            ...mapActions('professionalProject', [
                'updateTaskName'
            ]),
            updateTask() {
                this.updateTaskName({title: this.title, description: this.description })
            }
        },
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .task-details-form {
        padding: 40px 60px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #1E88E5;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 30px;
    }
    .task-details-btns {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .task-details-btns button {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        border: 2px solid transparent;
        box-sizing: border-box;
        border-radius: 50px;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 9px;
    }
    .task-details-btns button.skip {
        border-color: #1E88E5;
        color: #1E88E5;
        background: #fff;
    }
    .task-details-btns button.next {
        color: #FFFFFF;
        background: #1E88E5;
        margin-right: 10px;
    }
</style>