<template>
    <div>
        <template v-if="fullColor">
            <div class="full-color" @click="toggleFullColor" :style="'background:'+currentColor.hex"></div>
        </template>
        <div class="color-background" :style="'background:'+currentColor.hex">
            <div class="color-section">
                <div class="back">
                    <GoBack></GoBack>
                </div>
                <div class="color-title">
                    <!--<div class="palette">Gelbe Palette</div>-->
                    <div class="ral-code">
                        {{ currentColor.ral }}
                    </div>
                </div>
            </div>
            <div class="colors-row">
                <div class="colors-list">
                    <div class="color-item"
                         v-for="color in palettes[currentPalette]"
                         :class="{ active : currentColor === color }"
                         :style="'background:'+color.hex"
                         @click="setCurrentColor(color)">
                    </div>
                </div>
                <div class="color-right-col">
                    <div class="color-toggle" @click="toggleFullColor"></div>
                    <button class="add-to-project" @click="addTask">
                        Im Projekt
                    </button>
                </div>
            </div>
        </div>
        <div class="color-selector-footer">
            <div class="color-selector-footer-text">
                Erhaltene<br>
                Farben:
            </div>
            <div></div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapActions } from 'vuex'

    export default {
        name: "ColorSelector",
        components: { GoBack },
        data(){
            return {
                palettes: {
                    yellow: [
                        { 'ral': 'RAL 1000', 'hex': '#CCC58F'},
                        { 'ral': 'RAL 1001', 'hex': '#D1BC8A'},
                        { 'ral': 'RAL 1002', 'hex': '#D2B773'},
                        { 'ral': 'RAL 1003', 'hex': '#F7BA0B'},
                        { 'ral': 'RAL 1004', 'hex': '#E2B007'},
                    ],
                    orange: [
                        { 'ral': 'RAL 2000', 'hex': '#DD7907'},
                        { 'ral': 'RAL 2001', 'hex': '#BE4E24'},
                        { 'ral': 'RAL 2002', 'hex': '#C63927'},
                        { 'ral': 'RAL 2003', 'hex': '#FA842B'},
                        { 'ral': 'RAL 2004', 'hex': '#E75B12'},
                    ],
                    red: [
                        { 'ral': 'RAL 3000', 'hex': '#AB2524'},
                        { 'ral': 'RAL 3001', 'hex': '#A02128'},
                        { 'ral': 'RAL 3002', 'hex': '#A1232B'},
                        { 'ral': 'RAL 3003', 'hex': '#8D1D2C'},
                        { 'ral': 'RAL 3004', 'hex': '#701F29'},
                    ],
                    purple: [
                        { 'ral': 'RAL 4001', 'hex': '#8A5A83'},
                        { 'ral': 'RAL 4002', 'hex': '#933D50'},
                        { 'ral': 'RAL 4003', 'hex': '#D15B8F'},
                        { 'ral': 'RAL 4004', 'hex': '#691639'},
                        { 'ral': 'RAL 4005', 'hex': '#83639D'},
                    ],
                    blue: [
                        { 'ral': 'RAL 5000', 'hex': '#384C70'},
                        { 'ral': 'RAL 5001', 'hex': '#1F4764'},
                        { 'ral': 'RAL 5002', 'hex': '#2B2C7C'},
                        { 'ral': 'RAL 5003', 'hex': '#2A3756'},
                        { 'ral': 'RAL 5004', 'hex': '#1D1F2A'},
                    ],
                    green: [
                        { 'ral': 'RAL 6000', 'hex': '#327662'},
                        { 'ral': 'RAL 6001', 'hex': '#28713E'},
                        { 'ral': 'RAL 6002', 'hex': '#276235'},
                        { 'ral': 'RAL 6003', 'hex': '#4B573E'},
                        { 'ral': 'RAL 6004', 'hex': '#0E4243'},
                    ],
                    grey: [
                        { 'ral': 'RAL 7000', 'hex': '#7E8B92'},
                        { 'ral': 'RAL 7001', 'hex': '#8F999F'},
                        { 'ral': 'RAL 7002', 'hex': '#817F68'},
                        { 'ral': 'RAL 7003', 'hex': '#7A7B6D'},
                        { 'ral': 'RAL 7004', 'hex': '#9EA0A1'},
                    ],
                    brown: [
                        { 'ral': 'RAL 8000', 'hex': '#887142'},
                        { 'ral': 'RAL 8001', 'hex': '#9C6B30'},
                        { 'ral': 'RAL 8002', 'hex': '#7B5141'},
                        { 'ral': 'RAL 8003', 'hex': '#80542F'},
                        { 'ral': 'RAL 8004', 'hex': '#8F4E35'},
                    ],
                    whiteBlack: [
                        { 'ral': 'RAL 9001', 'hex': '#EFEBDC'},
                        { 'ral': 'RAL 9002', 'hex': '#DDDED4'},
                        { 'ral': 'RAL 9003', 'hex': '#F4F8F4'},
                        { 'ral': 'RAL 9004', 'hex': '#2E3032'},
                        { 'ral': 'RAL 9004', 'hex': '#0A0A0D'},
                    ]
                },
                currentColor: null,
                currentPalette: null,
                tCr: {
                    project: {
                        id: null
                    },
                    task: {}
                },
                fullColor: false
            }
        },
        methods: {
            ...mapActions('professionalProject', [
                'updateTaskColor',
                'createTask'
            ]),
            setCurrentColor(color) {
                this.currentColor = color;
            },
            addColor() {
                this.updateTaskColor(this.currentColor)
            },
            addTask(){
                let square = this.$store.state.professionalProject.square
                let color = { name: 'color', value: this.currentColor.ral }
                let task = this.$store.state.professionalProject.createTask
                    task.parameters[0] = square
                    task.parameters[1] = color
                    // task.parameters.push(square, color)
                this.tCr.project.id = this.$route.params.id
                this.tCr.task = task
                this.createTask(this.tCr)
            },
            toggleFullColor() {
                this.fullColor = !this.fullColor
            }
        },
        created() {
            this.currentPalette = this.$route.query.palette
            this.currentColor = this.palettes[this.currentPalette][0]
        }
    }
</script>

<style scoped>
    .color-background {
        background: #bebebe;
        margin: 0 -15px;
    }
    .color-section {
        height: 80px;
        border-bottom: 1px solid #FFFFFF;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*margin: 0 -15px;*/
    }
    .back {
        position: relative;
        width: 80px;
        min-height: 1px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        border-right: 1px solid #FFFFFF;
    }
    .back a {
        display: block;
        padding: 27px 0;
        text-align: center;
    }
    .color-title {
        position: relative;
        width: calc(100% - 80px);
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
        color: #000000;
        padding: 20px 30px;
    }
    .full-color {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
    }
    .palette {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
    }
    .ral-code {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .colors-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /*margin: 0 -15px;*/
    }
    .colors-list {
        position: relative;
        width: 80px;
        min-height: calc(100vh - 198px);
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        border-right: 1px solid #FFFFFF;
        padding: 30px 16px;
    }
    .color-item {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #fff;
        margin-bottom: 10px;
        border: 2px solid #fff;
        cursor: pointer;
        transition: 0.2s;
    }
    .color-item.active {
        border: 10px solid #fff;
    }
    .color-right-col {
        position: relative;
        -ms-flex: 0 0 calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
    .color-toggle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .add-to-project {
        position: fixed;
        bottom: 88px;
        right: 20px;
        padding: 11px 80px;
        border-radius: 50px;

        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        background: #fff;
        border: none;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        z-index: 2;
    }
    .color-selector-footer {
        position: fixed;
        width: 100%;
        height: 68px;
        left: 0;
        bottom: 0;
        background: #fff;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .color-selector-footer-text {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #000000;
        padding: 0 20px;
    }
</style>