<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Farbselektor:</div>
        </div>
        <!--<div class="ral-search">-->
            <!--<div class="input-holder">-->
                <!--<input type="text" placeholder="RAL-Code:"/>-->
            <!--</div>-->
        <!--</div>-->
        <div class="colors-list">
            <div class="colors-row justify-content-center">
                <div class="color-item">
                    <router-link to="color-selector?palette=yellow">
                        <img src="/img/colors/yellow.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=orange">
                        <img src="/img/colors/orange.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=red">
                        <img src="/img/colors/red.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=purple">
                        <img src="/img/colors/purple.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=blue">
                        <img src="/img/colors/blue.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=green">
                        <img src="/img/colors/green.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=grey">
                        <img src="/img/colors/blue-grey.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=brown">
                        <img src="/img/colors/brown.svg">
                    </router-link>
                </div>
                <div class="color-item">
                    <router-link to="color-selector?palette=whiteBlack">
                        <img src="/img/colors/grey.svg">
                    </router-link>
                </div>
                <!--<div class="color-item">-->
                    <!--<router-link to="color-selector?palette=pink">-->
                        <!--<img src="/img/colors/pink.svg">-->
                    <!--</router-link>-->
                <!--</div>-->

                <!--<div class="color-item">-->
                    <!--<router-link to="color-selector?palette=cyan">-->
                        <!--<img src="/img/colors/cyan.svg">-->
                    <!--</router-link>-->
                <!--</div>-->

                <!--<div class="color-item">-->
                    <!--<router-link to="color-selector?palette=lime">-->
                        <!--<img src="/img/colors/lime.svg">-->
                    <!--</router-link>-->
                <!--</div>-->
            </div>
        </div>
        <div class="color-selector-footer">
            <div class="color-selector-footer-text">
                Erhaltene<br>
                Farben:
            </div>
            <div></div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'

    export default {
        name: "ColorPalette",
        components: { GoBack },
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .ral-search {
        padding: 30px 20px;
        margin: 0 -15px;
        border-bottom: 1px solid #ECEFF1;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #1E88E5;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .colors-list {
        padding: 30px 20px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 295px);
    }
    .colors-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }
    .color-item {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 5px;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 10px;
    }
    .color-item a {
        display: block;
        text-align: center;
    }
    .color-item img {
        max-width: 100%;
    }
    .color-selector-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 68px;
        padding: 0 20px;
        border-top: 1px solid #ECEFF1;
    }
    .color-selector-footer-text {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        padding: 16px 0;
        width: 100%;
    }
</style>