<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Umgebung bestimmen:</div>
        </div>
        <div class="environment-types">
            <div class="environment-row">
                <div class="environment-item" v-for="environment in environments" :key="environment.id">
                    <div class="inner" @click="addEnvironment(environment)">
                        <img src="/img/gips.svg">
                        <div>{{ environment.name }}</div>
                    </div>
                </div>

                <!--<div class="environment-item">-->
                    <!--<router-link to="/color-palette">-->
                        <!--<img src="/img/water.svg">-->
                        <!--<div>Feucht</div>-->
                    <!--</router-link>-->
                <!--</div>-->
                <!--<div class="environment-item">-->
                    <!--<router-link to="/color-palette">-->
                        <!--<img src="/img/sun.svg">-->
                        <!--<div>Trocken</div>-->
                    <!--</router-link>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "Environment",
        components: { GoBack },
        computed: {
            ...mapGetters('professionalProject', [
                'environments'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getEnvironments',
                'updateTaskEnvironment'
            ]),
            addEnvironment(environment) {
                this.updateTaskEnvironment(environment)
            }
        },
        created() {
            this.getEnvironments()
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .environment-types {
        padding: 30px 20px 0;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 130px);
    }
    .environment-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }
    .environment-item {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 5px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
    }
    .environment-item img {
        margin-bottom: 5px;
    }
    .environment-item .inner {
        display: block;
        background: #FFFFFF;
        padding: 30px;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
</style>