<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Ausgewählte Farbe:</div>
        </div>
        <div class="paints-list">
            <div class="paint-item" @click="addMaterial(0)">
                <div class="paint-item-color-holder">
                    <div class="paint-item-color" :style="{ backgroundColor: color.hex }"></div>
                </div>
                <div class="paint-info-holder">
                    <div class="paint-ral">
                        {{ color.ral }}
                    </div>
                    <div class="paint-seller">
                        RENOWIR
                    </div>
                    <div class="paint-info-row">
                        <div class="paint-quality-label">
                            Qualität:
                        </div>
                        <div class="paint-quality">
                            Hohe
                        </div>
                    </div>
                    <div class="paint-info-row">
                        <div class="paint-price-label">
                            Pro Liter:
                        </div>
                        <div class="paint-price">
                            ≈ 33.12 CHF
                        </div>
                    </div>
                </div>
            </div>
            <!--<router-link to="/add-square" class="paint-item">-->
            <div class="paint-item" @click="addMaterial(1)">
                <div class="paint-item-color-holder">
                    <div class="paint-item-color" :style="{ backgroundColor: color.hex }"></div>
                </div>
                <div class="paint-info-holder">
                    <div class="paint-ral">
                        {{ color.ral }}
                    </div>
                    <div class="paint-seller">
                        PERCOLORA
                    </div>
                    <div class="paint-info-row">
                        <div class="paint-quality-label">
                            Qualität:
                        </div>
                        <div class="paint-quality">
                            Hohe
                        </div>
                    </div>
                    <div class="paint-info-row">
                        <div class="paint-price-label">
                            Pro Liter:
                        </div>
                        <div class="paint-price">
                            ≈ 33.12 CHF
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapActions, mapState } from 'vuex'

    export default {
        name: "SelectPaint",
        components: { GoBack },
        data () {
            return {
                materials: [
                    {
                        seller: 'RENOWIR',
                        quality: 'Hohe',
                        price: 33.12,
                    },
                    {
                        seller: 'PERCOLORA',
                        quality: 'Hohe',
                        price: 33.12,
                    }
                ]
            }
        },
        computed: {
            ...mapState('professionalProject', [
                'color'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'updateTaskMaterial'
            ]),
            addMaterial(item) {
                this.updateTaskMaterial(this.materials[item])
            }
        },
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .paints-list {
        padding: 30px 20px 0;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 130px);
    }
    .paint-item {
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        padding: 10px 0;
        margin-bottom: 10px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .paint-item-color-holder {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 10px;
        -ms-flex: 0 0 124px;
        flex: 0 0 124px;
        max-width: 124px;
    }
    .paint-item-color {
        background: #FDD835;
        width: 104px;
        height: 104px;
    }
    .paint-info-holder {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 10px;
        -ms-flex: 0 0 calc(100% - 124px);
        flex: 0 0 calc(100% - 124px);
        max-width: calc(100% - 124px);
    }
    .paint-ral {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 5px;
    }
    .paint-seller {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 10px;
    }
    .paint-info-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .paint-quality-label,
    .paint-quality,
    .paint-price-label {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .paint-price {
        ont-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        text-align: right;
        color: #000000;
    }
</style>