<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Aufgabe bearbeiten:</div>
        </div>
        <div class="category-section">
            <img src="/img/brush-icon.svg"> {{ task.use_case.name }}
        </div>
        <div class="task-title-description-section">
            <div class="task-title">{{ task.title }}</div>
            <div class="task-description">{{ task.description }}</div>
            <a href="javascript:void(0)" class="task-edit">
                <img src="/img/edit.svg">
            </a>
            <!--<router-link to="/" class="task-edit">-->
                <!--<img src="/img/edit.svg">-->
            <!--</router-link>-->
        </div>
        <div class="task-items">
            <template v-for="parameter in task.parameters">
                <template v-if="parameter.name === 'color'">
                    <div class="task-item">
                        <div class="left-col">
                            <div class="color" :style="{ backgroundColor: getHex(parameter.value) }"></div>
                        </div>
                        <div class="right-col">
                            <div class="task-item-title">{{ parameter.value }}</div>
                            <div class="task-item-sub-title"></div>
                        </div>
                    </div>
                </template>
                <template v-else-if="parameter.name === 'square'">
                    <div class="task-item">
                        <div class="left-col">
                            <img src="/img/square.svg">
                        </div>
                        <div class="right-col">
                            <div class="task-item-title">{{ parameter.value / 100 }} M<sup>2</sup></div>
                            <div class="task-item-sub-title">Bearbeitungsflächein Meter</div>
                        </div>
                    </div>
                </template>
            </template>
            <div class="task-item">
                <div class="left-col">
                    <img src="/img/gips.svg">
                </div>
                <div class="right-col">
                    <div class="task-item-title">{{ task.surface.name }}</div>
                    <div class="task-item-sub-title">Ausgewählter Hintergrund</div>
                </div>
            </div>
            <div class="task-item">
                <div class="left-col">
                    <img src="/img/sun.svg">
                </div>
                <div class="right-col">
                    <div class="task-item-title">{{ task.climate.name }}</div>
                    <div class="task-item-sub-title">Umgebung</div>
                </div>
            </div>
        </div>
        <div class="task-footer">
            <router-link :to="`/projects`" class="create-task-btn">Speichern</router-link>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import ralHex from '../../../utilities/ral-hex'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "TaskDetails",
        components: { GoBack },
        computed: {
            ...mapGetters('professionalProject', [
                'task'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getTask'
            ]),
            getHex(ral){
                return ralHex.find(x => x.ral === ral).hex
            }
        },
        created() {
            this.getTask(this.$route.params.taskId)
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .category-section {
        padding: 20px;
        background: #FFFFFF;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .category-section img {
        margin-right: 15px;
    }
    .task-title-description-section {
        padding: 15px 50px 15px 20px;
        background: #FFFFFF;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        position: relative;
    }
    .task-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 10px;
    }
    .task-description {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #546E7A;
    }
    .task-edit {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 48px;
    }
    .task-items {
        padding: 30px 20px 80px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 280px);
    }
    .task-item {
        padding: 20px 10px;
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        margin-bottom: 10px;

        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .left-col,
    .right-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 10px;
    }
    .left-col {
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
    }
    .right-col {
        -ms-flex: 0 0 calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
    .left-col img {
        max-width: 100%;
    }
    .task-item .color {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .task-item-title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    .task-item-sub-title {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .task-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(120, 144, 156, 0.15);
        padding: 20px 15px;

        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .task-footer a {
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        border-radius: 50px;
        -webkit-box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 11px 30px;
        border: none;
        position: relative;
    }
</style>