<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Aufgabe hinzufügen:</div>
        </div>
        <div class="add-task">
            <div class="work-category" v-for="useCase in useCases" :key="useCase.id" @click="updateTaskUseCase(useCase)">
                <img src="/img/brush-icon.svg"> Wand malen / streichen
            </div>
            <!--<div class="work-type">-->
                <!--<input type="radio" id="one" value="Türrahmen streichen" v-model="workType">-->
                <!--<label for="one">Türrahmen streichen</label>-->
            <!--</div>-->
            <!--<div class="work-type">-->
                <!--<input type="radio" id="two" value="Malen Sie Wände" v-model="workType">-->
                <!--<label for="two">Malen Sie Wände</label>-->
            <!--</div>-->
            <!--<div class="work-type">-->
                <!--<input type="radio" id="three" value="Decken streichen" v-model="workType">-->
                <!--<label for="three">Decken streichen</label>-->
            <!--</div>-->
            <!--<div class="work-type">-->
                <!--<input type="radio" id="four" value="Aussen streichen" v-model="workType">-->
                <!--<label for="four">Aussen streichen</label>-->
            <!--</div>-->
            <!--<div class="work-type">-->
                <!--<input type="radio" id="five" value="Holz streichen" v-model="workType">-->
                <!--<label for="five">Holz streichen</label>-->
            <!--</div>-->
            <!--<div class="work-type">-->
                <!--<input type="radio" id="six" value="Möbel streichen" v-model="workType">-->
                <!--<label for="six">Möbel streichen</label>-->
            <!--</div>-->
            <!--<div class="work-type">-->
                <!--<input type="radio" id="seven" value="Wand tapezieren" v-model="workType">-->
                <!--<label for="seven">Wand tapezieren</label>-->
            <!--</div>-->
            <!--<router-link to="/add-task-details" class="next">Weiter</router-link>-->
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "UseCase",
        components: { GoBack },
        data(){
            return {
                workType: 'Türrahmen streichen',
                error: null
            }
        },
        computed: {
            ...mapGetters('professionalProject', [
                'useCases'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getUseCases',
                'updateTaskUseCase'
            ]),
        },
        created() {
            this.getUseCases()
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .add-task {
        padding: 30px 20px 0;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 130px);
    }
    .work-category,
    .work-type {
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .work-category img {
        margin-right: 17px;
    }
    .work-category,
    .work-type label {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        position: relative;
        color: #000000;
    }
    .work-type label {
        margin: 0;
        padding-left: 44px;
    }
    .work-type input {
        margin-right: 20px;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        cursor: pointer;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border: 2px solid #1E88E5;
        border-radius: 50%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 14px;
        height: 14px;
        background: #1E88E5;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .next {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: block;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        border-radius: 50px;
        padding: 11px;
    }
</style>