<template>
    <div>
        <h2 class="mb-4 text-center">User Management</h2>
    </div>
</template>

<script>
    export default {
        name: "UserManagement"
    }
</script>

<style scoped>

</style>