<template>
    <div>
        <h2 class="mb-4 text-center">Users List</h2>
        <div>
            <router-link to="/dashboard">Back to Dashboard</router-link>
        </div>
        <div>
            <div v-for="user in users.items" :key="user.id">
                <h3>{{ user.username }}</h3>
                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                <div>{{ user.description }}</div>
                <div><router-link :to="`/user/${user.id}`">Show Details</router-link></div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "UsersList",
        computed: {
            ...mapGetters([
                'users'
            ])
        },
        methods: {
            ...mapActions('user', ['usersList'])
        },
        created() {
            this.usersList()
        }
    }
</script>

<style scoped>

</style>