<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Zusammenfassung Offerte:</div>
        </div>
        <div class="offer-summary-section">
            <div class="offer-summary-title">
                Zusammenfassung Offerte
            </div>
            <div class="offer-summary-text">
                Offerten-Nr: 100{{ project.id }}<br>
                Datum: 24.06.2019
            </div>
        </div>
        <div class="offer-task" v-for="task in project.tasks" :key="task.id">
            <div class="offer-task-title">{{ task.title }}</div>
            <div class="offer-task-price">{{ task.budget }} CHF</div>
        </div>
        <div class="offer-total">
            <div class="offer-total-title">Total in MWST</div>
            <div class="offer-total-price">{{ getTotal(project.tasks, 'budget') }} CHF</div>
        </div>
        <div class="tasks-list">
            <div class="task-item" v-for="task in project.tasks" :key="task.id">
                <div class="task-section">
                    <div class="task-row">
                        <div class="task-image-holder">
                            <div class="task-image" :style="{ backgroundColor: getHex(task.parameters, 'color') }"></div>
                        </div>
                        <div class="task-content">
                            <div class="task-title">
                                {{ task.title }}
                            </div>
                            <div class="task-category">
                                {{ task.use_case.name }}
                            </div>
                            <div class="row">
                                <div class="col-6 task-info-item">
                                    <!--{{ task.parameters.find(color => color.name === 'color').value }}-->
                                    {{ findVal(task.parameters, 'color') }}
                                </div>
                                <div class="col-6 task-info-item">{{ task.surface.name }}</div>
                                <div class="col-6 task-info-item">
                                    {{ findVal(task.parameters, 'square') / 100 }} M<sup>2</sup>
                                </div>
                                <div class="col-6 task-info-item">{{ task.climate.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="task-section">
                    <div class="positions-title">Preis für die Arbeit:</div>
                    <div class="task-row">
                        <div class="position-item">
                            <div class="position-label">Arbeitsumfang:</div>
                            <div class="position-amount">1 day</div>
                        </div>
                        <div class="position-item text-center">
                            <div class="position-label">Einzelpreis:</div>
                            <div class="position-amount">100 CHF</div>
                        </div>
                        <div class="position-item text-right">
                            <div class="position-label">Gesamt:</div>
                            <div class="position-amount">100 CHF</div>
                        </div>
                    </div>
                </div>
                <div class="task-section">
                    <div class="task-row">
                        <div class="total-text">Total in MWST</div>
                        <div class="total-amount">100 CHF</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-footer">
            <div class="button-holder">
                <a :href="`${apiUrl}projects/${project.id}/pdf`" target="_blank">Show Offer PDF</a>
            </div>
            <div class="button-holder">
                <a :href="`${apiUrl}projects/${project.id}/pdf?download=true`" target="_blank">Download Offer PDF</a>
            </div>
        </div>
    </div>
</template>

<script>

    import GoBack from '../../Layout/GoBack'
    import { mapGetters, mapActions } from 'vuex'
    import ralHex from '../../../utilities/ral-hex'

    export default {
        name: "ProjectOffer",
        data () {
            return {
                apiUrl: process.env.VUE_APP_API_URL
            }
        },
        components: { GoBack },
        computed: {
            ...mapGetters('professionalProject', [
                'project'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getProject'
            ]),
            findVal(arr, string) {
                return arr.find(x => x.name === string).value
            },
            getHex(arr, string){
                let ral = arr.find(x => x.name === string).value
                return ralHex.find(x => x.ral === ral).hex
            },
            getTotal(arr, prop){
                if(arr){
                    let total = 0
                    for ( let i = 0, _len = arr.length; i < _len; i++ ) {
                        total += arr[i][prop]
                    }
                    return total
                }
            }
        },
        created() {
            this.getProject(this.$route.params.id)
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .offer-summary-section,
    .offer-task,
    .offer-total {
        padding: 15px 20px;
        margin: 0 -15px;
        border-bottom: 1px solid #ECEFF1;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .offer-summary-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    .offer-summary-text {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .offer-task-title,
    .offer-task-price,
    .offer-total-title {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .offer-total-price {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    .tasks-list {
        padding: 30px 20px 80px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 260px);
    }
    .task-item {
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    .task-section {
        padding: 20px 0;
        border-bottom: 1px solid #ECEFF1;
    }
    .task-row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .task-image-holder {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 20px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
    }
    .task-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #FDD835;
    }
    .task-content {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
    .task-title {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .task-category {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .task-info-item {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .positions-title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 15px;
    }
    .position-label {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .position-amount {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .total-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .total-amount {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    .offer-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(120, 144, 156, 0.15);
        padding: 20px 15px;

        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .offer-footer .button-holder {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px;
    }
    .offer-footer .button-holder a,
    .offer-footer .button-holder button {
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 11px 10px;
        border: none;
        position: relative;
    }
</style>