<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Angebotsdetails:</div>
        </div>
        <div class="items-list">
            <div class="item">
                <div class="item-title">Materialkosten</div>
                <div class="item-info">
                    <div></div>
                    <div>
                        <div>RAL 1018</div>
                        <div>RENOWIR</div>
                    </div>
                </div>
                <div class="item-prices-row">
                    <div class="item-prices-col">
                        <div class="item-prices-label">Lautstärke:</div>
                        <div class="item-prices-text">10 Liter</div>
                    </div>
                    <div class="item-prices-col">
                        <div class="item-prices-label">Preis pro Liter:</div>
                        <div class="item-prices-text">33.12 CHF</div>
                    </div>
                    <div class="item-prices-col">
                        <div class="item-prices-label">Gesamt:</div>
                        <div class="item-prices-text-bold">331.20 CHF</div>
                    </div>
                </div>
                <div>
                    <a href="javascript:void(0)" class="item-btn">Position bearbeiten</a>
                </div>
            </div>
            <div class="item">
                <div class="item-title">Preis für die Arbeit</div>
                <div class="item-prices-row">
                    <div class="item-prices-col">
                        <div class="item-prices-label">Arbeitsumfang:</div>
                        <div class="item-prices-text">21.28 M2</div>
                    </div>
                    <div class="item-prices-col">
                        <div class="item-prices-label">Einzelpreis:</div>
                        <div class="item-prices-text">8.00 CHF</div>
                    </div>
                    <div class="item-prices-col">
                        <div class="item-prices-label">Gesamt:</div>
                        <div class="item-prices-text-bold">170.24 CHF</div>
                    </div>
                </div>
                <div>
                    <a href="javascript:void(0)" class="item-btn">Position bearbeiten</a>
                </div>
            </div>
        </div>
        <div class="offer-footer">
            <div class="total-value-row">
                <div class="total-value-text">Gesamtwert:</div>
                <div class="total-value-num">501.44 CHF</div>
            </div>
            <div class="offer-footer-btns-row">
                <div class="offer-footer-btns-col">
                    <a href="javascript:void(0)" class="save">
                        Speichern
                    </a>
                </div>
                <div class="offer-footer-btns-col">
                    <a href="javascript:void(0)" class="over">
                        Übernehmen
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'

    export default {
        name: "TaskOfferDetails",
        components: { GoBack },
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .items-list {
        padding: 30px 20px 120px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 130px);
    }
    .item {
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        padding: 14px 20px 30px;
        margin-bottom: 10px;
    }
    .item-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 15px;
    }
    .item-info {
        border-top: 1px solid #ECEFF1;
        padding: 20px 0;
    }
    .item-prices-row {
        border-top: 1px solid #ECEFF1;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -5px;
        padding: 15px 0 25px;
    }
    .item-prices-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 5px;
    }
    .item-prices-label {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .item-prices-text,
    .item-prices-text-bold {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .item-prices-text-bold {
        font-weight: bold;
    }
    .item-btn {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #1E88E5;
        border: 2px solid #1E88E5;
        border-radius: 50px;
        padding: 9px;
    }
    .offer-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
    }
    .total-value-row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 9px 20px;
        background: #546E7A;
    }
    .total-value-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
    }
    .total-value-num {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .offer-footer-btns-row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 20px;
        margin: 0 -5px;
    }
    .offer-footer-btns-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px;
    }
    .offer-footer-btns-col a {
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        border: 2px solid #1E88E5;
        border-radius: 50px;
        padding: 9px;
    }
    .offer-footer-btns-col a.save {
        color: #1E88E5;
    }
    .offer-footer-btns-col a.over {
        color: #fff;
        background: #1E88E5;
    }
</style>