<template>
    <div>
        <h2 class="mb-4 text-center">Appointments</h2>
    </div>
</template>

<script>
    export default {
        name: "AppointmentsList"
    }
</script>

<style scoped>

</style>