<template>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar left-sidebar">
        <div class="user-info">
            <div>
                First Name: {{ account.user.first_name }}
            </div>
            <div>
                Second Name: {{ account.user.last_name }}
            </div>
        </div>
        <nav class="bd-links">
            <ul class="nav bd-sidenav">
                <li>
                    <router-link to="/news">
                        News, Feed
                    </router-link>
                </li>
                <li>
                    <router-link to="/projects">
                        Project Pool
                    </router-link>
                </li>
                <li>
                    <router-link to="/create-project">
                        Create New Project
                    </router-link>
                </li>
                <li>
                    <router-link to="/offers">
                        Offers
                    </router-link>
                </li>
                <li>
                    <router-link to="/invoices">
                        Invoicing Overview
                    </router-link>
                </li>
                <li>
                    <router-link to="/appointments">
                        Appointments
                    </router-link>
                </li>
                <li>
                    <router-link to="/static">
                        Static
                    </router-link>
                </li>
                <li>
                    <router-link to="/shop">
                        Shop
                    </router-link>
                </li>
                <li>
                    <router-link to="/user-management">
                        User Management
                    </router-link>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "LeftSidebar",
        computed: {
            ...mapGetters([
                'account'
            ])
        },
    }
</script>

<style scoped>
    .bd-sidebar {
        background: #e0e0e0;
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
        position: -webkit-sticky;
        position: sticky;
        top: 56px;
        z-index: 1000;
        height: calc(100vh - 56px);
    }
    .bd-sidebar .nav > li > a {
        display: block;
        padding: 10px;
        font-size: 90%;
        text-decoration: none;
        color: #fff;
        background: #6c757d;
        margin-bottom: 2px;
        transition: color .15s ease-in-out,
                    background-color .15s ease-in-out,
                    border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
    }
    .bd-sidebar .nav > li > a:hover {
        background: #545b62;
    }
    .bd-sidebar .nav > li > a.router-link-active {
        background: #28a745;
    }
    .bd-sidebar .nav > li > a.router-link-active:hover {
        background: #218838;
    }
    .bd-sidenav {
        display: block;
    }
    .user-info {
        background: #fff;
        margin: 15px 0;
        padding: 10px;
    }
    @media (min-width: 1200px) {
        .flex-xl-nowrap {
            -ms-flex-wrap: nowrap!important;
            flex-wrap: nowrap!important;
        }
    }
</style>