<template>
    <div class="main-menu-container">
        <div class="main-menu-row">
            <a class="" href="javascript:void(0)" @click="toggleSideMenu">
                <img src="/img/menu-icon.svg">
            </a>
            <div class="logo">
                RENOWIR
            </div>
            <div class="notifications">
                <img src="/img/envelope-icon.svg">
            </div>
        </div>
        <div class="side-menu" :class="{ 'active': sideMenu === true }">
            <template v-if="!isLoggedIn">
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/login')">Login</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/register')">Register</a>
                    </li>
                </ul>
            </template>
            <template v-if="isLoggedIn">
                <ul>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/dashboard')">
                            <img src="/img/dashboard-small.svg"> INSTRUMENTENTAFEL
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/projects')">
                            <img src="/img/projects-small.svg"> Meine Projekte
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/under-construction')">
                            <img src="/img/calendar-small.svg"> MEINE TERMONE
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/under-construction')">
                            <img src="/img/contacts-small.svg"> KONTAKTE
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="" @click="goTo('/under-construction')">
                            <img src="/img/tools-small.svg"> WERKZEUGE
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="" @click="logout">
                            <img src="/img/logout-small.svg"> Logout
                        </a>
                    </li>
                </ul>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NavBar",
        data() {
            return {
                sideMenu: false
            };
        },
        computed : {
            isLoggedIn : function(){ return this.$store.getters['account/isLoggedIn']}
        },
        methods: {
            logout() {
                this.$store.dispatch('account/logout')
                    .then(() => {
                        this.$router.push('/login')
                        this.sideMenu = false
                    })
            },
            toggleSideMenu(){
                this.sideMenu = !this.sideMenu
            },
            goTo(route){
                this.$router.push(route)
                this.sideMenu = false
            }
        },
    }
</script>

<style scoped>
    .main-menu-container {
        position: fixed;
        width: 100%;
        padding: 0 20px;
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        z-index: 9;
    }
    .main-menu-row {
        height: 50px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .logo {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        color: #000;
    }
    .logo:hover {
        text-decoration: none;
    }
    .side-menu {
        display: none;
        min-height: calc(100vh - 50px);
        background: #fff;
        padding: 35px 0;
    }
    .side-menu.active {
        display: block;
    }
    .side-menu ul {
        list-style: none;
        padding: 0;
    }
    .side-menu ul li {
        padding: 5px 0;
    }
    .side-menu ul li img {
        margin-right: 15px;
    }
    .side-menu ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        display: block;
        color: #000000;
    }
</style>