<template>
    <div>
        <NavBar></NavBar>
        <div class="container-fluid main-container">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    import NavBar from "./NavBar"

    export default {
        name: "NoSidebar",
        components: { NavBar }
    }
</script>

<style scoped>
    .main-container {
        padding-top: 50px;
    }
</style>