<template>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar right-sidebar">
        <Cart class="cart"></Cart>
    </div>
</template>

<script>
    import Cart from "../Shop/Cart"

    export default {
        name: "RightSidebar",
        components: { Cart }
    }
</script>

<style scoped>
    .bd-sidebar {
        background: #e0e0e0;
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
        position: -webkit-sticky;
        position: sticky;
        top: 56px;
        z-index: 1000;
        height: calc(100vh - 56px);
    }
    .bd-sidebar .nav > li > a {
        display: block;
        padding: 10px;
        font-size: 90%;
        color: rgba(0,0,0,.65);
        background: #828282;
        margin-bottom: 2px;
    }
    .bd-sidebar .nav > li > a.router-link-active {
        background: #38a165;
    }
    .bd-sidenav {
        display: block;
    }
    .user-info {
        background: #fff;
        margin: 15px 0;
        padding: 10px;
    }
    .cart {
        margin: 15px 0;
    }
    @media (min-width: 1200px) {
        .flex-xl-nowrap {
            -ms-flex-wrap: nowrap!important;
            flex-wrap: nowrap!important;
        }
    }
</style>