<template>
    <div>
        <NavBar></NavBar>
        <div class="container-fluid">
            <div class="row align-items-start flex-xl-nowrap">
                <LeftSidebar></LeftSidebar>
                <div class="col-12 col-md-6 col-xl-8 py-md-3 bd-content">
                    <slot></slot>
                </div>
                <RightSidebar></RightSidebar>
            </div>
        </div>
    </div>
</template>

<script>
    import NavBar from "./NavBar"
    import LeftSidebar from "./LeftSidebar"
    import RightSidebar from "./RightSidebar"

    export default {
        name: "TwoSidebars",
        components: { NavBar, LeftSidebar, RightSidebar }
    }
</script>

<style scoped>

</style>