<template>
    <div>
        <div class="grid-holder">
            <svg id="plan" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" @mousemove="move" @mousedown="setStartCoordinates" @mouseup="drawWall">
                <defs>
                    <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
                        <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5"/>
                    </pattern>
                    <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
                        <rect width="100" height="100" fill="url(#smallGrid)"/>
                        <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/>
                    </pattern>
                    <pattern id="diagonalFill" patternUnits="userSpaceOnUse" width="4" height="4" fill="#FFF">
                        <rect x="0" y="0" width="4" height="4" fill="#FFF"></rect>
                        <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" style="stroke: rgb(142, 155, 162); stroke-width: 1;"></path>
                    </pattern>
                </defs>
                <rect width="100%" height="100%" fill="url(#grid)"/>
                <rect x="100" y="100" width="200" height="20" fill="url(#diagonalFill)"/>
            </svg>
        </div>
    </div>
</template>



<script>
    export default {
        name: "Area",
        data() {
            return {
                plan: null,
                cursor: {
                    x: 0,
                    y: 0
                },
                delta: {
                    x: 0,
                    y: 0
                },
                wallStartCoordinates: {
                    x: 0,
                    y: 0
                }
            };
        },
        methods: {
            drawWall() {
                let plan = document.getElementById('plan');
                let rect = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
                rect.setAttribute("fill","url(#diagonalFill)");
                rect.setAttribute("width", 150);
                rect.setAttribute("height", 20);
                rect.setAttribute("x", this.wallStartCoordinates.x);
                rect.setAttribute("y", this.wallStartCoordinates.y);
                rect.setAttribute("x1", this.cursor.x);
                rect.setAttribute("y1", this.cursor.y);
                plan.appendChild(rect);
            },
            setStartCoordinates(e){
                let plan = document.getElementById('plan');
                let rect = plan.getBoundingClientRect();

                this.wallStartCoordinates.x = e.pageX - rect.left;
                this.wallStartCoordinates.y = e.pageY - rect.top;
            },
            // render2D: function (element, layer, scene) {
            //     let angle = element.rotation + 90;
            //     let textRotation = 0;
            //     if (Math.sin(angle * Math.PI / 180) < 0) {
            //         textRotation = 180;
            //     }
            //     // return (
            //         // <g transform={`translate(${-WIDTH / 2},${-DEPTH / 2})`}>
            //         // <rect key="1" x="0" y="0" width={WIDTH} height={DEPTH}
            //         // style={{stroke: element.selected ? '#0096fd' : '#000', strokeWidth: "2px", fill: "#ff0000"}}/>
            //         // <text key="2" x="0" y="0"
            //         // transform={`translate(${WIDTH / 2}, ${DEPTH / 2}) scale(1,-1) rotate(${textRotation})`}
            //         // style={{textAnchor: "middle", fontSize: "11px"}}>
            //         // {element.type}
            //         // </text>
            //         // </g>
            //     // )
            // },
            move (e) {
                let plan = document.getElementById('plan');
                let rect = plan.getBoundingClientRect();
                // this.delta.x = (e.pageX - rect.left) - this.cursor.x;
                // this.delta.y = (e.pageY - rect.top) - this.cursor.y;
                //
                // this.cursor.x += this.delta.x;
                // this.cursor.y += this.delta.y;

                this.cursor.x = e.pageX - rect.left;
                this.cursor.y = e.pageY - rect.top;

                // console.log("this.cursor.x", this.cursor.x)
                // console.log("this.cursor.y", this.cursor.y)

                // console.log("this.delta.x", this.delta.x)
                // console.log("this.cursor.y", this.cursor.y)
            }
        },
        computed: {

        }
    }
</script>

<style scoped>
    .grid-holder {
        padding: 15px 0;
    }
    svg {
        min-height: calc(100vh - 86px);
    }
</style>