<template>
    <div>
        <Area/>
    </div>
</template>

<script>
    import Area from './Area'

    export default {
        name: "Planner",
        components: { Area }
    }
</script>

<style scoped>

</style>