<template>
    <div>
        <h2 class="mb-4 text-center">Dashboard</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center mb-30">
                    <div class="card-header">
                        Enter New Project
                    </div>
                    <div class="card-body">
                        <router-link to="/create-project">More</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-30">
                    <div class="card-header">
                        My Projects
                    </div>
                    <div class="card-body">
                        <router-link to="/projects">More</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-30">
                    <div class="card-header">
                        My Appointments
                    </div>
                    <div class="card-body">
                        <router-link to="/appointments">More</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-30">
                    <div class="card-header">
                        Shop
                    </div>
                    <div class="card-body">
                        <router-link to="/shop">More</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-30">
                    <div class="card-header">
                        Specialists/PRO
                    </div>
                    <div class="card-body">
                        <router-link to="/users">More</router-link>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center mb-30">
                    <div class="card-header">
                        Manual Tutorials
                    </div>
                    <div class="card-body">
                        <router-link to="/tutorials">More</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "Dashboard",
        computed: {
            ...mapGetters([
                'account'
            ])
        },
        methods: {
            ...mapActions('account', ['user'])
        },
        created() {
            this.user()
        }
    }
</script>

<style scoped>
    .mb-30 {
        margin-bottom: 30px;
    }
</style>