<template>
    <div>
        <div class="page-title">FORGOT PASSWORD</div>
        <p v-if="$route.query.redirect">
            You need to login first.
        </p>
        <div class="form-holder">
            <form @submit.prevent="handleSubmit">
                <div class="input-holder">
                    <input v-model="user.email" type="text" placeholder="Email">
                </div>
                <p v-if="error" class="error">Bad login information</p>
                <div class="button-holder">
                    <button type="submit" class="">Restore</button>
                </div>
            </form>
            <div class="text-center py-2 or">or</div>
            <div class="sign-in-holder">
                <router-link to="/login" class="">Sign in</router-link>
            </div>
        </div>
    </div>

    <!--<div class="row justify-content-center align-items-center content-height">-->
        <!--<div class="col-sm-6 col-md-4 col-xl-3">-->
            <!--<div class="card">-->
                <!--<div class="card-header">-->
                    <!--<h2 class="text-center">Forgot Password</h2>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<form @submit.prevent="handleSubmit">-->
                        <!--<div class="form-group">-->
                            <!--<label for="username">Email</label>-->
                            <!--<input v-model="user.email" type="text" class="form-control" id="username" placeholder="Enter Email">-->
                        <!--</div>-->
                        <!--<p v-if="error" class="error">Bad login information</p>-->
                        <!--<div>-->
                            <!--<button type="submit" class="btn btn-block btn-success">Restore</button>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<div class="text-center py-2">or</div>-->
                    <!--<div class="form-group">-->
                        <!--<router-link to="/login" class="btn btn-block btn-secondary">Login</router-link>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</template>

<script>
    export default {
        name: "ForgotPassword",
        data () {
            return {
                user: {
                    email: ''
                },
                error: false,
                submitted: false
            }
        },
        methods: {
            handleSubmit() {
                this.submitted = true;
            }
        }
    }
</script>

<style scoped>
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0;
        display: block;
        text-align: center;
        color: #000000;
    }
    .form-holder {
        padding: 30px 40px;
    }
    .input-holder {
        margin-bottom: 30px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #546E7A;
        border-radius: 0;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .or {
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .button-holder button {
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 11px 30px;
        border: none;
        position: relative;
    }
    .sign-in-holder {
        text-align: center;
    }
    .sign-in-holder a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #1E88E5;
    }
</style>