<template>
    <div>
        <div class="page-title">SIGN IN</div>
        <p v-if="$route.query.redirect">
            You need to login first.
        </p>
        <div class="form-holder">
            <form @submit.prevent="handleSubmit">
                <div class="input-holder">
                    <input v-model="user.username" type="text" placeholder="Nutzername">
                </div>
                <div class="input-holder">
                    <input v-model="user.password" type="password" placeholder="Passwort">
                </div>
                <div class="form-row">
                    <div class="form-col">
                        <div class="promoted-checkbox">
                            <input id="tmp" type="checkbox" class="promoted-input-checkbox"/>
                            <label for="tmp">
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                                    <symbol id="checkmark" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
                                        </path>
                                    </symbol>
                                </svg>
                                <svg><use xlink:href="#checkmark" /></svg>
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="form-col">
                        <router-link to="/forgot-password" class="forgot-pass">
                            Forgot?
                        </router-link>
                    </div>
                </div>
                <p v-if="error" class="error">Bad login information</p>
                <div class="button-holder">
                    <button type="submit" class="">Sign in</button>
                </div>
            </form>
            <div class="text-center py-2 or">or</div>
            <div class="sign-up-holder">
                <router-link to="/register" class="">Sign up</router-link>
            </div>
        </div>
    </div>

    <!--<div class="row justify-content-center align-items-center content-height">-->
        <!--<div class="col-sm-6 col-md-4 col-xl-3">-->
            <!--<div class="card">-->
                <!--<div class="card-header">-->
                    <!--<h2 class="text-center">Login</h2>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<p v-if="$route.query.redirect">-->
                        <!--You need to login first.-->
                    <!--</p>-->
                    <!--<form @submit.prevent="handleSubmit">-->
                        <!--<div class="form-group">-->
                            <!--<label for="username">Username</label>-->
                            <!--<input v-model="user.username" type="text" class="form-control" id="username" placeholder="Enter Username">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>Password</label>-->
                            <!--<input v-model="user.password" type="password" class="form-control" id="password" placeholder="Enter Password">-->
                        <!--</div>-->
                        <!--<p v-if="error" class="error">Bad login information</p>-->
                        <!--<div>-->
                            <!--<button type="submit" class="btn btn-block btn-success">Login</button>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<div class="text-center py-2">or</div>-->
                    <!--<div class="form-group">-->
                        <!--<router-link to="/register" class="btn btn-block btn-secondary">Register</router-link>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<router-link to="/forgot-password" class="btn btn-block btn-light">Forgot password?</router-link>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        name: "Login",
        data () {
            return {
                user: {
                    username: '',
                    password: '',
                },
                error: false,
                submitted: false
            }
        },
        methods: {
            ...mapActions('account', ['login']),
            handleSubmit() {
                this.submitted = true;
                let user = this.user;
                this.login({ user })
            }
        }
    }
</script>

<style scoped>
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0;
        display: block;
        text-align: center;
        color: #000000;
    }
    .form-holder {
        padding: 30px 40px;
    }
    .input-holder {
        margin-bottom: 30px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #546E7A;
        border-radius: 0;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .form-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        margin-bottom: 30px;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .form-col {
        padding: 0 5px;
    }
    .forgot-pass {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #1E88E5;
    }
    .or {
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .button-holder button {
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 11px 30px;
        border: none;
        position: relative;
    }
    .sign-up-holder {
        text-align: center;
    }
    .sign-up-holder a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #1E88E5;
    }

    .promoted-input-checkbox {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .promoted-checkbox input:checked + label > svg {
        height: 8px;
        animation: draw-checkbox ease-in-out 0.2s forwards;
    }
    .promoted-checkbox input + label > svg {
        height: 8px;
        animation: undraw-checkbox ease-in-out 0.2s forwards;
    }
    .promoted-checkbox label {
        cursor: pointer;
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        margin: 0;
    }
    .promoted-checkbox label:after {
        content: "";
        height: 14px;
        width: 14px;
        margin-right: 10px;
        float: left;
        border: 1px solid #1E88E5;
        border-radius: 2px;
        transition: 0.15s all ease-out;
    }
    .promoted-checkbox svg {
        stroke: #0080d3;
        stroke-width: 2px;
        height: 0;
        width: 8px;
        position: absolute;
        left: 3px;
        top: 3px;
        stroke-dasharray: 33;
    }
    @keyframes draw-checkbox {
        0% {
            stroke-dashoffset: 33;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes undraw-checkbox {
        0% {
            stroke-dashoffset: 0;
        }
        100% {
            stroke-dashoffset: 33;
        }
    }
</style>