<template>
    <div>
        <div class="page-title">SIGN UP</div>
        <p v-if="$route.query.redirect">
            You need to login first.
        </p>
        <div class="form-holder">
            <form @submit.prevent="handleSubmit">
                <div class="input-holder">
                    <input v-model="user.username" type="text" placeholder="Username">
                </div>
                <div class="input-holder">
                    <input v-model="user.firstName" type="text" placeholder="Vorname">
                </div>
                <div class="input-holder">
                    <input v-model="user.lastName" type="text" placeholder="Nachname">
                </div>
                <div class="input-holder">
                    <label for="role">Role</label>
                    <select v-model="selectedValue" class="" id="role" @change="selectRole()">
                        <option value="ROLE_CLIENT">Self Renovator</option>
                        <option value="ROLE_EXECUTOR">Professional</option>
                    </select>
                </div>
                <div class="input-holder">
                    <input v-model="user.password.main" type="password" placeholder="Password">
                </div>
                <div class="input-holder">
                    <input v-model="user.password.confirmation" type="password" placeholder="Confirm password">
                </div>
                <div class="button-holder">
                    <button type="submit">Sign up</button>
                </div>
            </form>
            <div class="text-center py-2 or">or</div>
            <div class="sign-in-holder">
                <router-link to="/login" class="">Sign in</router-link>
            </div>
        </div>
    </div>


    <!--<div class="row justify-content-center align-items-center content-height">-->
        <!--<div class="col-sm-6 col-md-4 col-xl-3">-->
            <!--<div class="card">-->
                <!--<div class="card-header">-->
                    <!--<h2 class="text-center">Register</h2>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<form @submit.prevent="handleSubmit">-->
                        <!--<div class="form-group">-->
                            <!--<label for="username">Username</label>-->
                            <!--<input v-model="user.username" type="text" class="form-control" id="username" placeholder="Enter Username">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="firstName">First Name</label>-->
                            <!--<input v-model="user.firstName" type="text" class="form-control" id="firstName" placeholder="Enter First Name">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="lastName">Last Name</label>-->
                            <!--<input v-model="user.lastName" type="text" class="form-control" id="lastName" placeholder="Enter Last Name">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="role">Role</label>-->
                            <!--<select v-model="selectedValue" class="form-control" id="role" @change="selectRole()">-->
                                <!--<option value="ROLE_CLIENT">Client</option>-->
                                <!--<option value="ROLE_EXECUTOR">Executor</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="password">Password</label>-->
                            <!--<input v-model="user.password.main" type="password" class="form-control" id="password" placeholder="Enter Password">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="passwordConfirmation">Confirm Password</label>-->
                            <!--<input v-model="user.password.confirmation" type="password" class="form-control" id="passwordConfirmation" placeholder="Confirm Password">-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<button type="submit" class="btn btn-block btn-success">Register</button>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<div class="text-center py-2">or</div>-->
                    <!--<div>-->
                        <!--<router-link to="/login" class="btn btn-block btn-secondary">Login</router-link>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        name: "Register",
        data () {
            return {
                user: {
                    username: '',
                    firstName: '',
                    lastName: '',
                    roles: ['ROLE_CLIENT'],
                    password: {
                        main: '',
                        confirmation: ''
                    },
                },
                selectedValue: 'ROLE_CLIENT',
                submitted: false,
                registering: false
            }
        },
        methods: {
            ...mapActions('account', ['register']),
            selectRole() {
                console.log(this.selectedValue)
                this.user.roles = [];
                this.user.roles.push(this.selectedValue);
            },
            handleSubmit() {
                this.submitted = true;
                let user = this.user;
                this.register({ user })
            }
        }
    }
</script>

<style scoped>
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0;
        display: block;
        text-align: center;
        color: #000000;
    }
    .form-holder {
        padding: 30px 40px;
    }
    .input-holder {
        margin-bottom: 30px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #546E7A;
        border-radius: 0;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .input-holder label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #546E7A;
        margin: 0;
    }
    .input-holder select {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #546E7A;
        border-radius: 0;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .or {
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .button-holder button {
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 11px 30px;
        border: none;
        position: relative;
    }
    .sign-in-holder {
        text-align: center;
    }
    .sign-in-holder a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #1E88E5;
    }
</style>