<template>
    <div>
        <div class="title-section">
            <router-link to="/dashboard">
                <img src="img/back-icon.svg"/>
            </router-link>
            <div class="page-title">
                Im Bau:
            </div>
        </div>
        <div class="under-construction">
            <div class="text-center"> Sorry, aber diese Funktionalität ist</div>
            <h3 class="text-center">Im Bau</h3>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UnderConstruction"
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .under-construction {
        padding: 30px 20px 0;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 130px);
    }
</style>