<template>
    <div>
        <div class="palette-menu">
            <button class="btn btn-secondary btn-sm" @click="generatePalette(5)">Generate Palette</button>
        </div>
        <SlickList class="palette" axis="x" lockAxis="x" :useDragHandle=true v-model="items">
            <SlickItem class="palette-item" v-bind:class="{ 'active': activeItem === item.mainColor }"
                       :style="`background: ${item.mainColor}`"
                       v-for="(item, index) in items"
                       :index="index" :key="index"
            >
                <div class="palette-item-actions">
                    <div class="action-holder">
                        <div v-handle class="handle" title="Drag">
                            <font-awesome-icon icon="arrows-alt-h"></font-awesome-icon>
                        </div>
                    </div>
                    <div class="action-holder">
                        <div class="show-variants" @click="activeItem = item.mainColor" title="Adjust Color">
                            <font-awesome-icon icon="adjust"></font-awesome-icon>
                        </div>
                        <div class="picker-holder">
                            <sketch-picker
                                    :value="item.mainColor"
                                    :presetColors="[ '#f00', '#00ff00', '#00ff0055', 'rgb(201, 76, 76)', 'rgba(0,0,255,1)', 'hsl(89, 43%, 51%)', 'hsla(89, 43%, 51%, 0.6)']"
                            ></sketch-picker>
                        </div>
                    </div>
                    <div class="action-holder">
                        <div class="show-variants" @click="activeItem = item.mainColor" title="Show Color Variants">
                            <font-awesome-icon icon="bars"></font-awesome-icon>
                        </div>
                    </div>
                    <div class="palette-item-code">
                        {{ item.mainColor }}
                    </div>
                </div>
                <div class="color-variants">
                    <template v-for="(variant, i) in item.colorVariants">
                        <div class="color-variant"
                             :style="`background: ${variant}`" :index="i" :key="i" @click="setActiveColor(index, variant)">
                            <div class="palette-item-code">
                                <template v-if="activeItem === variant">
                                    <font-awesome-icon icon="check"></font-awesome-icon>
                                </template>
                                {{ variant }}
                            </div>
                            <div class="color-variant-mask"></div>
                        </div>
                    </template>
                </div>
            </SlickItem>
        </SlickList>
    </div>
</template>

<script>
    import { SlickList, SlickItem, HandleDirective } from 'vue-slicksort';
    //import ColorScheme from 'color-scheme';
    import chroma from 'chroma-js'

    export default {
        name: "Palette",
        components: { SlickItem, SlickList },
        directives: { handle: HandleDirective },
        data() {
            return {
                activeItem: null,
                items: [
                    {
                        mainColor: '#985B51',
                        colorVariants: []
                    },
                    {
                        mainColor: '#080C1F',
                        activeColor: '',
                        colorVariants: []
                    },
                    {
                        mainColor: '#1A1D41',
                        colorVariants: []
                    },
                    {
                        mainColor: '#985B51',
                        colorVariants: []
                    },
                    {
                        mainColor: '#000000',
                        colorVariants: []
                    },
                    {
                        mainColor: '#757384',
                        colorVariants: []
                    }
                ]
            };
        },
        methods: {
            // getCS() {
            //     let scheme = new ColorScheme;
            //     let hex = 150;
            //     scheme.from_hue(hex) // Start the scheme
            //         .scheme('mono')  // Use the 'triade' scheme, that is, colors
            //                          // selected from 3 points equidistant around
            //                          // the color wheel.
            //                          // .variation('soft');
            //                          // Use the 'soft' color variation
            //     this.items = scheme.colors();
            // },
            // hex2rgb(hex, alpha) {
            //     let r = parseInt(hex.slice(1, 3), 16);
            //     let g = parseInt(hex.slice(3, 5), 16);
            //     let b = parseInt(hex.slice(5, 7), 16);
            //     return { r: r, g: g, b: b };
            // },
            rgb2hex(r, g, b) {
                let rgb = b | (g << 8) | (r << 16);
                return '#' + (0x1000000 + rgb).toString(16).slice(1)
            },
            // isDarkColor({ r, g, b }) {
            //     ((r * 299) + (g * 587) + (b * 114)) / 1000 < 120;
            // },
            getRandomArbitrary(min, max) {
                return parseInt(Math.random() * (max - min) + min, 10)
            },
            generateColors(count) {
                let colors = []
                for (let i = 0; i < count; i++) {
                    let r = this.getRandomArbitrary(0, 255);
                    let g = this.getRandomArbitrary(0, 255);
                    let b = this.getRandomArbitrary(0, 255);
                    let color = this.rgb2hex(r, g, b);
                    colors.push(color);
                }
                return colors;
            },
            generatePalette(count)  {
                let colors = this.generateColors(count)
                this.items = this.generateColorScheme(colors)
            },
            generateColorScheme(colors) {
                let steps = 9
                let colorList = []
                // Initialize Chroma.
                for (let i = 0; i < colors.length; i++) {
                    let arr = { mainColor: '', colorVariants: []}
                    arr.mainColor =  colors[i]
                    colorList.push(arr)
                    let chromaColor = chroma(colors[i]);
                    for (let j = 0; j < steps; j++) {
                        colorList[i].colorVariants.push(chromaColor.darken(j - Math.floor(steps / 2)).hex());
                    }
                }
                return colorList
            },
            setActiveColor(index, color){
                this.activeItem = null
                this.items[index].mainColor = color
            }
        },
        created(){
            this.generatePalette(5)
        }
    }
</script>

<style scoped>
    .palette-menu {
        margin-bottom: 10px;
    }
    .palette {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: calc(100vh - 129px);
        max-height: calc(100vh - 129px);
        margin: 0 auto;
        padding: 0;
        overflow: auto;
        background-color: #f3f3f3;
        border: 1px solid #efefef;
        overflow-y: hidden;
    }
    .palette-item {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        padding: 5px;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #333;
        font-weight: 400;
        /*overflow: hidden;*/
    }
    .palette-item-actions {
        width: 100%;
    }
    .action-holder {
        text-align: center;
        position: relative;
    }
    .picker-holder {
        display: none;
        position: absolute;
        bottom: 100%;
        z-index: 999999999999999999;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .palette-item-actions .handle,
    .palette-item-actions .show-variants {
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .palette-item-code {
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.5);
        color: #fff;
    }
    .color-variants {
        position: absolute;
        left: 0;
        bottom: -110%;
        width: 100%;
        height: 100%;
        transition: 0.4s;
        z-index: 1;
    }
    .palette-item.active .color-variants {
        bottom: 0;
    }
    .color-variant {
        position: relative;
        height: calc(100% / 9);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .color-variant-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.4s;
    }
    .color-variant:hover .color-variant-mask {
        -webkit-animation: Background 5s ease infinite;
        -moz-animation: Background 5s ease infinite;
        animation: Background 5s ease infinite;
    }
    @-webkit-keyframes Background {
        0% {
            background: rgba(50, 50, 50, 0.5);
        }
        50% {
            background: rgba(200,200,200,0.5);
        }
        100% {
            background: rgba(50,50,50,50.5);
        }
    }
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
</style>