<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Ein Projekt erstellen</div>
        </div>
        <div class="create-project-form">
            <div class="input-holder">
                <input type="text" placeholder="Projektname *:" v-model="project.title"/>
            </div>
            <div class="input-holder">
                <input type="text" placeholder="Kunde:" v-model="client"/>
            </div>
            <div class="input-holder">
                <input type="text" placeholder="Telefon:" v-model="phone"/>
            </div>
            <div class="input-holder">
                <input type="text" placeholder="Adresse:" v-model="project.address"/>
            </div>
            <!--<router-link to="/add-task" >Weiter</router-link>-->
            <button @click="next">Weiter</button>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapActions, mapState} from 'vuex'

    export default {
        name: "CreateProject",
        components: { GoBack },
        data () {
            return {
                project: {
                    title: '',
                    address: ''
                },
                client: '',
                phone: ''
            }
        },
        computed: {
            // ...mapState('professionalProject', [
            //     'projectCreate'
            // ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'createProject',
                'updateProjectCreate',
            ]),
            next(){
                if(this.project.title !== ''){
                    this.createProject(this.project)
                } else {
                    this.error = 'Bitte fügen Sie den Projektnamen hinzu'
                }

            }
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .create-project-form {
        padding: 40px 60px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #1E88E5;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 30px;
    }
    .create-project-form button {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: block;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        border-radius: 50px;
        padding: 11px;
        border: none;
    }
</style>