<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">Meine Projekte</div>
        </div>
        <div class="project-filter">
            <div class="project-filter-text">Nur Aktive Projekte</div>
            <div class="project-filter-switch">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="projects-list">
            <div class="project-item" v-for="project in projects" :key="project.id">
                <div class="project-title">
                    {{ project.title }}
                    <!--<button @click="deleteProject(project.id)">Delete</button>-->
                </div>
                <div class="client-status-row">
                    <div class="client-name">
                        Roland Müller
                    </div>
                    <div class="project-status">
                        Aktives Projekt
                    </div>
                </div>
                <div class="tasks-list">
                    <template v-if="project.tasks && project.tasks.length > 0">
                        <div class="project-task" v-for="task in project.tasks" :key="task.id">
                            <div class="task-image-holder">
                                <div class="task-image" :style="{
                                    backgroundColor: getHex(task.parameters, 'color')
                                }"></div>
                            </div>
                            <div class="task-content">
                                <div class="task-title">
                                    {{ task.description }}
                                </div>
                                <div class="task-category">
                                    {{ task.use_case.name }}
                                </div>
                                <div class="row">
                                    <div class="col-6 task-info-item">
                                        <!--{{ task.parameters.find(color => color.name === 'color').value }}-->
                                        {{ findVal(task.parameters, 'color') }}
                                    </div>
                                    <div class="col-6 task-info-item">{{ task.surface.name }}</div>
                                    <div class="col-6 task-info-item">
                                        {{ findVal(task.parameters, 'square') / 100 }} M<sup>2</sup>
                                    </div>
                                    <div class="col-6 task-info-item">{{ task.climate.name }}</div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="project-btns">
                    <router-link :to="`/project/${project.id}`" class="read-more">Lesen Sie mehr</router-link>
                    <router-link :to="`/project/${project.id}/offer`" class="proceed">Offerte</router-link>
                </div>
            </div>
        </div>
        <div class="projects-list-footer">
            <router-link class="create-project-btn" to="/create-project">Neue Projekte</router-link>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapGetters, mapActions } from 'vuex'
    import ralHex from '../../../utilities/ral-hex'

    export default {
        name: "ProjectsList",
        components: { GoBack },
        computed: {
            ...mapGetters('professionalProject', [
                'projects'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getProjects',
                'deleteProject'
            ]),
            findVal(arr, string) {
                return arr.find(x => x.name === string).value
            },
            getHex(arr, string){
                let ral = arr.find(x => x.name === string).value
                return ralHex.find(x => x.ral === ral).hex
            }
        },
        created() {
            this.getProjects()
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .project-filter {
        /*height: 50px;*/
        padding: 15px 20px;
        margin: 0 -15px;
        border-bottom: 1px solid #ECEFF1;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .project-filter-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .switch {
        position: relative;
        display: block;
        width: 37px;
        height: 14px;
        margin: 0;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: -1px;
        top: -3px;
        background-color: #546E7A;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background: #8fc4f2;
    }
    input:focus + .slider {
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
    }
    input:checked + .slider:before {
        background: #1E88E5;
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
        transform: translateX(19px);
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .projects-list {
        padding: 30px 20px 80px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 260px);
    }
    .project-item {
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        padding: 14px 20px 30px;
        margin-bottom: 10px;
    }
    .project-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    .client-status-row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .client-name,
    .project-status {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .project-task {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;

        padding: 15px 0;
        border-top: 1px solid #ECEFF1;
    }
    .project-task:last-child {
        border-bottom: 1px solid #ECEFF1;
    }
    .task-image-holder {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 20px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
    }
    .task-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #FDD835;
    }
    .task-content {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
    .task-title {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .task-category {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .task-info-item {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .project-btns {
        padding-top: 30px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .project-btns a {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        border: 2px solid transparent;
        box-sizing: border-box;
        border-radius: 50px;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 9px;
    }
    .project-btns a.read-more {
        border-color: #1E88E5;
        color: #1E88E5;
    }
    .project-btns a.proceed {
        margin-left: 10px;
        color: #FFFFFF;
        background: #1E88E5;
    }
    .projects-list-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(120, 144, 156, 0.15);
        padding: 20px;
    }
    .create-project-btn {
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: block;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        border-radius: 50px;
        padding: 11px 30px;
    }
    .create-project-btn:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        width: 10px;
        height: 10px;
        background: url("../../../../public/img/plus-icon.svg") no-repeat center;
    }
</style>