<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">{{ project.title }}</div>
        </div>
        <div class="client-section">
            <div class="client-letter-holder">
                <div class="client-letter">
                    <div>R</div>
                </div>
            </div>
            <div class="client-info">
                <div class="client-name">Roland Müller</div>
                <div class="client-phone">079 111 22 33</div>
            </div>
        </div>
        <div class="address-section">
            <div class="address-label">Objektadresse:</div>
            <div class="address">{{ project.address }}</div>
        </div>
        <div class="tasks-list">
            <div class="task-item" v-for="task in project.tasks" :key="task.id">
                <div class="task-title">
                    <div>
                        {{ task.title }}
                    </div>
                    <router-link :to="`${project.id}/task/${task.id}`">
                        <img src="/img/edit.svg">
                    </router-link>
                </div>
                <div class="task-description">
                    {{ task.description }}
                </div>
                <div class="task-content">
                    <div class="task-image-holder">
                        <div class="task-image" :style="{ backgroundColor: getHex(task.parameters, 'color') }"></div>
                    </div>
                    <div class="task-details">
                        <div class="task-category">
                            {{ task.use_case.name }}
                        </div>
                        <div class="row">
                            <div class="col-6 task-info-item">
                                <!--{{ task.parameters.find(color => color.name === 'color').value }}-->
                                {{ findVal(task.parameters, 'color') }}
                            </div>
                            <div class="col-6 task-info-item">{{ task.surface.name }}</div>
                            <div class="col-6 task-info-item">
                                {{ findVal(task.parameters, 'square') / 100 }} M<sup>2</sup>
                            </div>
                            <div class="col-6 task-info-item">{{ task.climate.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="task-budget">
                    <div class="task-budget-label">
                        Gesamtwert:
                    </div>
                    <div class="task-budget-value">
                        {{ task.budget }} CHF
                    </div>
                </div>
                <div class="task-buttons">
                    <div class="task-button-holder">
                        <router-link :to="`${project.id}/task/${task.id}/offer`" class="show-offer">
                            Angebotsdetails
                        </router-link>
                        <!--<button class="show-offer"></button>-->
                    </div>
                    <div class="task-button-holder">
                        <button class="take-over">Übernehmen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tasks-list-footer">
            <div class="button-holder">
                <router-link :to="`/project/${project.id}/offer`">Offerte</router-link>
            </div>
            <div class="button-holder">
                <router-link :to="`/project/${project.id}/add-task`" class="create-task-btn">Neue Aufgabe</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'
    import { mapGetters, mapActions } from 'vuex'
    import ralHex from '../../../utilities/ral-hex'

    export default {
        name: "ProjectDetails",
        components: { GoBack },
        computed: {
            ...mapGetters('professionalProject', [
                'project'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getProject'
            ]),
            findVal(arr, string) {
                return arr.find(x => x.name === string).value
            },
            getHex(arr, string){
                let ral = arr.find(x => x.name === string).value
                return ralHex.find(x => x.ral === ral).hex
            }
        },
        created() {
            this.getProject(this.$route.params.id)
        }
    }
</script>

<style scoped>
    .title-section {
        height: 80px;
        border-bottom: 1px solid #ECEFF1;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1E88E5;
    }
    .client-section {
        padding: 11px 20px;
        margin: 0 -15px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid #ECEFF1;
    }
    .client-letter-holder {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 20px;
        -ms-flex: 0 0 80px;
        -webkit-box-flex: 0;
        flex: 0 0 60px;
        max-width: 60px;
    }
    .client-letter {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #1E88E5;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    .client-info {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 60px);
        -webkit-box-flex: 0;
        flex: 0 0 calc(100% - 60px);
        max-width: calc(100% - 60px);
    }
    .client-name {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .client-phone {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #546E7A;
    }
    .address-section {
        padding: 15px 20px;
        margin: 0 -15px;
        border-bottom: 1px solid #ECEFF1;
    }
    .address-label {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
    }
    .address {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
    .tasks-list {
        padding: 30px 20px 80px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 265px);
    }
    .task-item {
        background: #FFFFFF;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        padding: 14px 20px 30px;
        margin-bottom: 10px;
    }
    .task-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        padding-bottom: 10px;
        border-bottom: 1px solid #ECEFF1;

        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .task-description {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: #000000;
        padding: 10px 0;
        border-bottom: 1px solid #ECEFF1;
    }
    .task-content {
        padding: 20px 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid #ECEFF1;
    }
    .task-image-holder {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 20px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
    }
    .task-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #FDD835;
    }
    .task-details {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
    }
    .task-category {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 2px;
    }
    .task-info-item {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #546E7A;
        margin-bottom: 2px;
    }
    .task-budget {
        height: 40px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #ECEFF1;
    }
    .task-budget-label {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #546E7A;
    }
    .task-budget-value {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #000000;
    }
    .tasks-list-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(120, 144, 156, 0.15);
        padding: 20px 15px;

        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .tasks-list-footer .button-holder {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px;
    }
    .tasks-list-footer .button-holder a,
    .tasks-list-footer .button-holder button {
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        background: #1E88E5;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 11px 30px;
        border: none;
        position: relative;
    }
    .create-task-btn:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        width: 10px;
        height: 10px;
        background: url("../../../../public/img/plus-icon.svg") no-repeat center;
    }
    .task-buttons {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 20px;
        margin: 0 -5px;
    }
    .task-button-holder {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px;
    }
    .task-button-holder a,
    .task-button-holder button {
        display: block;
        width: 100%;
        border: 2px solid transparent;
        position: relative;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(120, 144, 156, 0.35);
        padding: 9px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    .task-button-holder a.show-offer {
        border: 2px solid #1E88E5;
        background: #FFFFFF;
        color: #1E88E5;
    }
    .task-button-holder button.take-over {
        background: #1E88E5;
        color: #FFFFFF;
    }
</style>