<template>
    <div>
        <div class="title-section">
            <GoBack></GoBack>
            <div class="page-title">KONTAKTE:</div>
        </div>
        <div class="contact-search">
            <div class="input-holder">
                <input type="text" placeholder="Kontakt suchen:"/>
            </div>
        </div>
        <div class="contacts-list">
            <div class="contact-item">
                <div class="contact-item-row">
                    <div class="contact-item-small-col">
                        <div class="contact-letter">U</div>
                    </div>
                    <div class="contact-item-big-col">
                        <div class="contact-name">Urs Sommer</div>
                        <div class="contact-sub">Wohlenschwil</div>
                    </div>
                    <div class="contact-item-small-col">
                        <a href="javascript:void(0)">
                            <img src="/img/map-marker.svg">
                        </a>
                    </div>
                    <div class="contact-item-small-col">
                        <a href="javascript:void(0)">
                            <img src="/img/phone.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-footer">
            <a href="javascript:void(0)">
                Neuer Kontakt
            </a>
        </div>
    </div>
</template>

<script>
    import GoBack from '../../Layout/GoBack'

    export default {
        name: "ContactsList",
        components: { GoBack },
    }
</script>

<style scoped>
    .title-section {
        height: 50px;
        background: #43A047;
        margin: 0 -15px;
        padding: 0 20px;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .title-section a {
        display: inline-block;
        width: 22px;
        text-align: center;
        margin-right: 20px;
    }
    .page-title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .contact-search {
        padding: 30px 20px;
        margin: 0 -15px;
    }
    .input-holder input {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #546E7A;
        border: none;
        border-bottom: 2px solid #546E7A;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 0;
    }
    .contact-item-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        -ms-flex-align: center;
        align-items: center;
    }
    .contact-item-small-col,
    .contact-item-big-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 5px;
    }
    .contact-item-small-col {
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
        max-width: 50px;
    }
    .contact-item-big-col {
        -ms-flex: 0 0 calc(100% - 150px);
        flex: 0 0 calc(100% - 150px);
        max-width: calc(100% - 150px);
    }
    .contact-letter {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #43A047;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    .contact-item a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-name {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .contact-sub {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #546E7A;
    }
    .contact-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
        background: #FFFFFF;
        box-shadow: 0 0 30px rgba(120, 144, 156, 0.5);
        border-radius: 20px 20px 0 0;
    }
    .contact-footer a {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        color: #000000;
    }
</style>