<template>
    <div>
        <h2 class="mb-4 text-center">News</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <img class="card-img-top" src="/img/placeholder-blue.png">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Some quick example text for description.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewsList"
    }
</script>

<style scoped>

</style>