<template>
    <div id="app">
        <component :is="layout">
            <router-view></router-view>
        </component>
    </div>
</template>

<script>
    const default_layout = "no-sidebar";

    export default {
        computed: {
            layout() {
                return (this.$route.meta.layout || default_layout) + "-layout";
            }
        },
        created: function () {
            // nothing defined here (when this.$route.path is other than "/")
            // console.log(this.$route, this.$route.meta.layout);
            this.$http.interceptors.response.use(undefined, function (err) {
                // return new Promise(function (resolve, reject) {
                return new Promise(function () {
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        this.$store.dispatch('account/logout')
                    }
                    throw err;
                });
            });
        },
        updated() {
            // something defined here whatever the this.$route.path
            // console.log(this.$route, this.$route.meta.layout);
        }
    }
</script>

<style>
    * {
        font-family: 'Montserrat', sans-serif;
        outline: none !important;
    }
</style>
