<template>
    <div>
        <template v-if="error !== null">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </template>
        <div class="form-group">
            {{ projectCreate.objectTypes }}
            <div class="form-check">
                <input v-model="projectCreate.objectType" class="form-check-input" type="radio" id="area" value="area">
                <label class="form-check-label" for="area">
                    Enter Area in m<sup>2</sup>
                </label>
                <input v-model="area" class="form-control" type="number" placeholder="Enter Area">
            </div>
            <div class="form-check">
                <input  v-model="projectCreate.objectType" class="form-check-input" type="radio" id="room" value="room">
                <label class="form-check-label" for="room">
                    Set dimensions of whole room
                </label>
            </div>
            <div class="form-check">
                <input v-model="projectCreate.objectType" class="form-check-input" type="radio" id="wall" value="wall">
                <label class="form-check-label" for="wall">
                   Set dimensions of one wall(floor or ceiling)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default" @click="test">Next</button>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapState } from 'vuex'

    export default {
        name: "CreationType",
        data () {
            return {
                area: null,
                error: null
            }
        },
        computed: {
            ...mapState('project', [
                'projectCreate'
            ])
        },
        methods: {
            ...mapActions('project', [
                'updateProjectCreate',
                'updateProjectCreateStep'
            ]),
            test(){
                console.log(this.area)
                if(this.projectCreate.objectType === 'area' && this.area === null){
                    this.error = 'Please enter area'
                } else {
                    this.updateProjectCreateStep(3)
                    this.updateProjectCreate(this.$store.state.project.projectCreate)
                }
            }
        }
    }
</script>

<style scoped>

</style>