<template>
    <div class="form-group">
        <button class="btn btn-default mr-3">
            Find a Professional
        </button>
        <button class="btn btn-default">
            Start it myself
        </button>
    </div>
</template>

<script>
    export default {
        name: "ProjectCreateFooter"
    }
</script>

<style scoped>

</style>