<template>
    <div>
        <h2 class="mb-4 text-center">Create New Project step: {{ projectCreate.step }}</h2>
        <template v-if="projectCreate.step === 1">
            <StepOne></StepOne>
        </template>
        <template v-else-if="projectCreate.step === 2">
            <CreationType></CreationType>
        </template>
        <template v-else-if="projectCreate.step === 3">
            <template v-if="projectCreate.objectType === 'area'">
                <TypeArea></TypeArea>
            </template>
            <template v-else-if="projectCreate.objectType === 'room'">
                <TypeRoom></TypeRoom>
            </template>
            <template v-else-if="projectCreate.objectType === 'wall'">
                <TypeWall></TypeWall>
            </template>
        </template>
        <template v-else-if="projectCreate.step === 4">
            <template v-if="projectCreate.currentObject.index !== null">
                <Object></Object>
            </template>
            <template v-else>
                <Objects></Objects>
            </template>
        </template>
        <template v-if="projectCreate.step === 1">
            <Footer></Footer>
        </template>
    </div>
</template>
<script>
    import { mapState, mapGetters } from 'vuex'

    import StepOne from './StepOne'
    import CreationType from './CreationType'
    import TypeArea from './Area'
    import TypeRoom from './Room'
    import TypeWall from './Wall'
    import Object from './Object'
    import Objects from './Objects'
    import Footer from './Footer'

    export default {
        name: "ProjectCreate",
        components: { StepOne, CreationType, Footer, TypeArea, TypeRoom, TypeWall, Object, Objects },
        computed: {
            ...mapState('project', [
                'projectCreate'
            ]),
            ...mapGetters('project', [
                'projectCreate'
            ])
        },
    }
</script>

<style>
    .cube-holder {
        perspective: 400px;
        perspective-origin: 50% 50%;
        width: 200px;
        height: 200px;
        margin: 80px auto;
    }
    .cube {
        width: 200px;
        height: 200px;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-100px) rotateX( 0deg) rotateY( -35deg);
    }
    .cube .side {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border: 2px solid black;
        line-height: 200px;
        font-size: 40px;
        font-weight: bold;
        color: white;
        text-align: center;
        background: rgba( 0, 0, 0, 0.5);
    }
    .cube .front {
        transform: rotateY(0deg) translateZ(100px);
    }
    .cube .back {
        transform: rotateY(180deg) translateZ(100px);
    }
    .cube .left {
        transform: rotateY(-90deg) translateZ(100px);
    }
    .cube .right {
        transform: rotateY(90deg) translateZ(100px);
    }
    .cube .top {
        transform: rotateX(90deg) translateZ(100px);
    }
    .cube .bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }
    .width,
    .length,
    .height {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        font-weight: bold;
        color: #000;
    }
    .width {
        width: 325px;
        -webkit-transform: translateX(-250px) translateZ(-100px) translateY(265px);
        transform: translateX(-250px) translateZ(-100px) translateY(265px);
    }
    .length {
        width: 375px;
        -webkit-transform: rotateY(90deg) translateX(390px) translateZ(-160px) translateY(295px);
        transform: rotateY(90deg) translateX(390px) translateZ(-160px) translateY(295px);
    }
    .height {
        width: 375px;
        -webkit-transform: rotateY(35deg) translateX(270px) translateZ(-100px) translateY(60px);
        transform: rotateY(35deg) translateX(270px) translateZ(-100px) translateY(60px);
    }
</style>