<template>
    <div>
        <div class="item">
            <div class="">
                <h4>{{ projectCreate.currentObject.item.name }}</h4>
                <div>Description of task or other information</div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input v-model="projectCreate.currentObject.item.name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea v-model="projectCreate.currentObject.item.description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>{{ projectCreate.currentObject.item.x_name }}</label>
                <input v-model="projectCreate.currentObject.item.x" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label></label>
                <input v-model="projectCreate.currentObject.item.y" type="number" class="form-control">
            </div>
            <div>
                <button class="btn btn-default" @click="edit(projectCreate.currentObject.index, projectCreate.currentObject.item)">Save</button>
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "Object",
        computed: {
            ...mapState('project', [
                'projectCreate'
            ])
        },
        methods: {
            ...mapActions('project', [
                'updateProjectCreate',
                'updateProjectCurrentObjectInList',
            ]),
            edit(index, item){
                this.updateProjectCurrentObjectInList({index, item})
                this.updateProjectCreate(this.$store.state.project.projectCreate)
            },
        }
    }
</script>

<style scoped>
    .item {
        border: 1px solid #bebebe;
        padding: 5px;
        margin-bottom: 5px;
    }
</style>