<template>
    <div>
        <div v-for="(item, index) in projectCreate.objects" v-bind:key="item.index">
            <div class="item">
                <div class="">
                    <h4>{{ item.name }}</h4>
                    <div>{{ item.description }}</div>
                    <div>
                        <button class="btn btn-default" @click="editItem(index, item)">EDIT</button>
                        <button class="btn btn-default" @click="deleteItem(index)">DELETE</button>
                    </div>
                </div>
                <div>{{ item.x }}cm x {{item.y}}cm</div>
                <div>{{ item.square }}m<sup>2</sup></div>
            </div>
        </div>
        <div>
            <button @click="addItemForm = !addItemForm">Add Item</button>
        </div>
        <template v-if="addItemForm">
            <div>
                <div class="form-group">
                    <label>Title</label>
                    <input v-model="item.name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea v-model="item.description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>{{ item.x_name }}</label>
                    <input v-model="item.x" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label>{{ item.y_name }}</label>
                    <input v-model="item.y" type="number" class="form-control">
                </div>
                <div>
                    <button class="btn btn-default" @click="addItem">Add</button>
                    <button class="btn btn-default" @click="closeAddItemForm">Cancel</button>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'

    export default {
        name: "Objects",
        data() {
            return {
                addItemForm: false,
                item: {
                    name: '',
                    description: '',
                    x: 0,
                    x_name: 'Width',
                    y: 0,
                    y_name: 'Height',
                    square: this.x * this.y * 0.0001
                },
                error: null
            };
        },
        computed: {
            ...mapState('project', [
                'projectCreate'
            ])
        },
        methods: {
            ...mapActions('project', [
                'updateProjectCreate',
                'updateProjectCreateCurrentObject',
                'removeObjectFromObjectsList',
                'addObjectToObjectsList'
            ]),
            closeAddItemForm(){
                this.addItemForm = false
                this.item = {
                    name: '',
                    description: '',
                    x: 0,
                    x_name: 'Width',
                    y: 0,
                    y_name: 'Height',
                    square: 0
                }
            },
            editItem(index, item){
                this.updateProjectCreateCurrentObject({index, item})
            },
            deleteItem(index) {
                this.removeObjectFromObjectsList(index)
                this.updateProjectCreate(this.$store.state.project.projectCreate)
            },
            addItem() {
                this.item.square = this.item.x * this.item.y * 0.0001
                this.addObjectToObjectsList(this.item)
                this.updateProjectCreate(this.$store.state.project.projectCreate)
                this.addItemForm = false
                this.item = {
                    name: '',
                    description: '',
                    x: 0,
                    x_name: 'Width',
                    y: 0,
                    y_name: 'Height',
                    square: 0
                }
            }
        }
    }
</script>

<style scoped>
    .item {
        border: 1px solid #bebebe;
        padding: 5px;
        margin-bottom: 5px;
    }
</style>