<template>
    <div>
        <h2 class="mb-4 text-center">Create New Project</h2>
        <div id="container">

        </div>
        <div class="row">
            <div class="col-12">
                <div class="cube-holder">
                    <div class="cube">
                        <div class="front side"></div>
                        <div class="left side"></div>
                        <div class="back side"></div>
                        <div class="right side"></div>
                        <div class="top side"></div>
                        <div class="bottom side"></div>
                        <div class="width">Width: {{ dimensions.object_width }} cm</div>
                        <div class="length">Length: {{ dimensions.object_length }} cm</div>
                        <div class="height">Height: {{ dimensions.object_height }} cm</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Height in cm</label>
                    <input class="form-control" type="number" v-model.number="dimensions.object_height" @change="calcSquare"/>
                </div>
                <div class="form-group">
                    <label>Width in cm</label>
                    <input class="form-control" type="number" v-model.number="dimensions.object_width"  @change="calcSquare"/>
                </div>
                <div class="form-group">
                    <label>Length in cm</label>
                    <input class="form-control" type="number" v-model.number="dimensions.object_length" @change="calcSquare"/>
                </div>
                <!--<div class="form-group">-->
                    <!--<label>Camera Position</label>-->
                    <!--<input class="form-control" type="number" v-model.number="camera.position.z"/>-->
                <!--</div>-->
                <div>
                    Total Square: {{ dimensions.object_total_square_m }} m<sup>2</sup>
                    ({{ dimensions.object_total_square }} in cm<sup>2</sup>)
                </div>
                <div>
                    Total Walls Square: {{ dimensions.object_walls_square_m }} m<sup>2</sup>
                    ({{ dimensions.object_walls_square }} in cm<sup>2</sup>)
                </div>
                <div>
                    Floor Square: {{ dimensions.object_floor_square_m }} m<sup>2</sup>
                    ({{ dimensions.object_floor_square }} in cm<sup>2</sup>)
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import * as THREE from 'three'
    import TrackballControls from'three-trackballcontrols';
    import * as dat from 'dat.gui';

    export default {
        name: "ProjectCreate",
        data() {
            return {
                dimensions: {
                    object_height: 1,
                    object_width: 1,
                    object_length: 2,
                    object_total_square: 0,
                    object_total_square_m: 0,
                    object_floor_square: 0,
                    object_floor_square_m: 0,
                    object_walls_square: 0,
                    object_walls_square_m: 0
                },
                camera: {
                    position: {
                        z: 5
                    }
                },
                scene: null,
                renderer: null,
                mesh: null,
                wireMesh: null,
                controls: null
            };
        },
        methods: {
            // init: function() {
            //     let vm = this
            //     let container = document.getElementById('container');
            //
            //     this.camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
            //     this.camera.position.z = 5;
            //
            //     this.scene = new THREE.Scene();
            //     this.scene.background = new THREE.Color( 0x8FBCD4 );
            //
            //     // Create a directional light
            //     const light = new THREE.DirectionalLight( 0x8FBCD4, 10.0 );
            //
            //     // move the light back and up a bit
            //     light.position.set( 1, 1, 8 );
            //
            //     // remember to add the light to the scene
            //     this.scene.add( light );
            //
            //     let geometry = new THREE.BoxGeometry(this.dimensions.object_width, this.dimensions.object_height, this.dimensions.object_length, 1, 1, 1);
            //
            //     let material = new THREE.MeshBasicMaterial({
            //         color: 0x8888ff
            //     });
            //
            //     this.mesh = new THREE.Mesh(geometry, material);
            //     // this.mesh.rotation.x = 45;
            //     this.scene.add(this.mesh);
            //
            //     let wireGeometry = new THREE.BoxGeometry(this.dimensions.object_width, this.dimensions.object_height, this.dimensions.object_length, 1, 1, 1);
            //
            //     let wireMaterial = new THREE.MeshBasicMaterial( { color: 0x000000, wireframe:true } );
            //
            //     this.wireMesh = new THREE.Mesh(wireGeometry, wireMaterial);
            //     // this.mesh.rotation.x = 45;
            //     this.scene.add(this.wireMesh);
            //
            //     this.renderer = new THREE.WebGLRenderer( { antialias: true } );
            //     this.renderer.setSize(window.innerWidth, window.innerHeight);
            //     container.appendChild(this.renderer.domElement);
            //
            //     // let gui = new dat.GUI();
            //     //
            //     // container.appendChild(gui.domElement);
            //     //
            //     // let parameters =
            //     //     {
            //     //         x: 0, y: 30, z: 0,
            //     //     };
            //     //
            //     // let folder1 = gui.addFolder('Position');
            //     //
            //     // let meshX = folder1.add( parameters, 'x' ).min(-200).max(200).step(1).listen();
            //     // let meshY = folder1.add( parameters, 'y' ).min(0).max(100).step(1).listen();
            //     // let meshZ = folder1.add( parameters, 'z' ).min(-200).max(200).step(1).listen();
            //     // folder1.open();
            //     //
            //     // meshX.onChange(function(value){
            //     //     vm.mesh.position.x = value;
            //     // });
            //     // meshY.onChange(function(value){
            //     //     vm.mesh.position.y = value;
            //     // });
            //     // meshZ.onChange(function(value){
            //     //     vm.mesh.position.z = value;
            //     // });
            //     //
            //     // gui.open();
            //     //
            //     // this.controls = new TrackballControls(this.camera, this.renderer.domElement);
            // },
            // animate: function() {
            //     requestAnimationFrame(this.animate);
            //     this.mesh.rotation.x += 0.001;
            //     this.mesh.rotation.y += 0.001;
            //     this.wireMesh.rotation.x += 0.001;
            //     this.wireMesh.rotation.y += 0.001;
            //     this.renderer.render(this.scene, this.camera);
            // },
            calcSquare() {
                this.dimensions.object_total_square = 2 * (this.dimensions.object_width * this.dimensions.object_height + this.dimensions.object_width * this.dimensions.object_length + this.dimensions.object_height * this.dimensions.object_length);
                this.dimensions.object_floor_square = this.dimensions.object_width * this.dimensions.object_length;
                this.dimensions.object_walls_square = this.dimensions.object_total_square - this.dimensions.object_floor_square * 2;
                this.dimensions.object_total_square_m = this.dimensions.object_total_square * 0.0001;
                this.dimensions.object_floor_square_m = this.dimensions.object_floor_square * 0.0001;
                this.dimensions.object_walls_square_m = this.dimensions.object_walls_square * 0.0001;

                // this.mesh.scale.x = this.dimensions.object_width;
                // this.mesh.scale.y = this.dimensions.object_length;
                // this.mesh.scale.z = this.dimensions.object_height;
                //
                // this.wireMesh.scale.x = this.dimensions.object_width;
                // this.wireMesh.scale.y = this.dimensions.object_length;
                // this.wireMesh.scale.z = this.dimensions.object_height;

                //this.renderer.render(this.scene, this.camera);
            },
        },
        mounted() {
            // this.init();
            // this.animate();
        }
    }
</script>

<style>
    #container {
        position: relative;
    }
    .dg.main.a {
        position: absolute;
        top: 0;
        right: 0;
    }
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
    .cube-holder {
        perspective: 400px;
        perspective-origin: 50% 50%;
        width: 200px;
        height: 200px;
        margin: 80px auto;
    }
    .cube {
        width: 200px;
        height: 200px;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-100px) rotateX( 0deg) rotateY( -35deg);
    }
    .cube .side {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border: 2px solid black;
        line-height: 200px;
        font-size: 40px;
        font-weight: bold;
        color: white;
        text-align: center;
        background: rgba( 0, 0, 0, 0.5);
    }
    .cube .front {
        transform: rotateY(0deg) translateZ(100px);
    }
    .cube .back {
        transform: rotateY(180deg) translateZ(100px);
    }
    .cube .left {
        transform: rotateY(-90deg) translateZ(100px);
    }
    .cube .right {
        transform: rotateY(90deg) translateZ(100px);
    }
    .cube .top {
        transform: rotateX(90deg) translateZ(100px);
    }
    .cube .bottom {
        transform: rotateX(-90deg) translateZ(100px);
    }
    .width,
    .length,
    .height {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        font-weight: bold;
        color: #000;
    }
    .width {
        width: 325px;
        -webkit-transform: translateX(-250px) translateZ(-100px) translateY(265px);
        transform: translateX(-250px) translateZ(-100px) translateY(265px);
    }
    .length {
        width: 375px;
        -webkit-transform: rotateY(90deg) translateX(390px) translateZ(-160px) translateY(295px);
        transform: rotateY(90deg) translateX(390px) translateZ(-160px) translateY(295px);
    }
    .height {
        width: 375px;
        -webkit-transform: rotateY(35deg) translateX(270px) translateZ(-100px) translateY(60px);
        transform: rotateY(35deg) translateX(270px) translateZ(-100px) translateY(60px);
    }
</style>