<template>
    <div class="row">
        <div class="col-12">
            <div class="cube-holder">
                <div class="cube">
                    <div class="front side"></div>
                    <div class="left side"></div>
                    <div class="back side"></div>
                    <div class="right side"></div>
                    <div class="top side"></div>
                    <div class="bottom side"></div>
                    <div class="width">Width: {{ dimensions.object_width }} cm</div>
                    <div class="length">Length: {{ dimensions.object_length }} cm</div>
                    <div class="height">Height: {{ dimensions.object_height }} cm</div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <template v-if="error !== null">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </template>
            <div class="form-group">
                <label>Height in cm</label>
                <input class="form-control" type="number" v-model.number="dimensions.object_height" min="0" @change="calcSquare"/>
            </div>
            <div class="form-group">
                <label>Width in cm</label>
                <input class="form-control" type="number" v-model.number="dimensions.object_width" min="0" @change="calcSquare"/>
            </div>
            <div class="form-group">
                <label>Length in cm</label>
                <input class="form-control" type="number" v-model.number="dimensions.object_length" min="0" @change="calcSquare"/>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="ceiling" v-model="excludeCeiling" @change="calcSquare">
                <label class="form-check-label" for="ceiling">
                    Exclude Ceiling
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="floor" v-model="excludeFloor" @change="calcSquare">
                <label class="form-check-label" for="floor">
                    Exclude Floor
                </label>
            </div>
            <template>
                <div>
                    Total Square: {{ dimensions.object_total_square_m }} m<sup>2</sup>
                    ({{ dimensions.object_total_square }} in cm<sup>2</sup>)
                </div>
            </template>
            <template v-if="excludeCeiling !== true">
                <div>
                    Ceiling Square: {{ dimensions.object_ceiling_square_m }} m<sup>2</sup>
                    ({{ dimensions.object_ceiling_square }} in cm<sup>2</sup>)
                </div>
            </template>
            <template v-if="excludeFloor !== true">
                <div>
                    Floor Square: {{ dimensions.object_floor_square_m }} m<sup>2</sup>
                    ({{ dimensions.object_floor_square }} in cm<sup>2</sup>)
                </div>
            </template>
            <div>
                Total Walls Square: {{ dimensions.object_walls_square_m }} m<sup>2</sup>
                ({{ dimensions.object_walls_square }} in cm<sup>2</sup>)
            </div>
            <div class="form-group">
                <button class="btn btn-default" @click="createObjects">Next</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        name: "Room",
        data() {
            return {
                excludeCeiling: true,
                excludeFloor: true,
                dimensions: {
                    object_height: 0,
                    object_width: 0,
                    object_length: 0,
                    object_total_square: 0,
                    object_total_square_m: 0,
                    object_floor_square: 0,
                    object_floor_square_m: 0,
                    object_ceiling_square: 0,
                    object_ceiling_square_m: 0,
                    object_walls_square: 0,
                    object_walls_square_m: 0
                },
                error: null
            };
        },
        methods: {
            ...mapActions('project', [
                'updateProjectCreate',
                'updateProjectCreateStep',
                'updateProjectCreateObjects'
            ]),
            calcSquare() {
                this.error = null;
                if(this.excludeFloor === true && this.excludeCeiling === true) {
                    this.dimensions.object_floor_square = 0;
                    this.dimensions.object_ceiling_square = 0;
                    this.dimensions.object_total_square = 2 * (this.dimensions.object_width * this.dimensions.object_height + this.dimensions.object_height * this.dimensions.object_length);
                    this.dimensions.object_walls_square = this.dimensions.object_total_square;
                } else if(this.excludeFloor === true) {
                    this.dimensions.object_floor_square = 0;
                    this.dimensions.object_ceiling_square = this.dimensions.object_width * this.dimensions.object_length;
                    this.dimensions.object_total_square = 2 * (this.dimensions.object_width * this.dimensions.object_height + this.dimensions.object_height * this.dimensions.object_length) + this.dimensions.object_ceiling_square;
                    this.dimensions.object_walls_square = this.dimensions.object_total_square - this.dimensions.object_width * this.dimensions.object_length;
                } else if(this.excludeCeiling === true) {
                    this.dimensions.object_floor_square = this.dimensions.object_width * this.dimensions.object_length;
                    this.dimensions.object_ceiling_square = 0;
                    this.dimensions.object_total_square = 2 * (this.dimensions.object_width * this.dimensions.object_height + this.dimensions.object_height * this.dimensions.object_length) + this.dimensions.object_floor_square;
                    this.dimensions.object_walls_square = this.dimensions.object_total_square - this.dimensions.object_width * this.dimensions.object_length;
                } else {
                    this.dimensions.object_floor_square = this.dimensions.object_width * this.dimensions.object_length;
                    this.dimensions.object_ceiling_square = this.dimensions.object_width * this.dimensions.object_length;
                    this.dimensions.object_total_square = 2 * (this.dimensions.object_width * this.dimensions.object_height + this.dimensions.object_width * this.dimensions.object_length + this.dimensions.object_height * this.dimensions.object_length);
                    this.dimensions.object_walls_square = this.dimensions.object_total_square - (this.dimensions.object_ceiling_square + this.dimensions.object_floor_square);
                }

                this.dimensions.object_floor_square_m = this.dimensions.object_floor_square * 0.0001;
                this.dimensions.object_ceiling_square_m = this.dimensions.object_ceiling_square * 0.0001;
                this.dimensions.object_total_square_m = this.dimensions.object_total_square * 0.0001;
                this.dimensions.object_walls_square_m = this.dimensions.object_walls_square * 0.0001;
            },
            createObjects(){
                if(this.dimensions.object_height !== 0 && this.dimensions.object_width !== 0 && this.dimensions.object_length !== 0) {
                    let objects_list = [
                        {
                            name: 'Wall 1',
                            x: this.dimensions.object_length,
                            x_name: 'Width',
                            y: this.dimensions.object_height,
                            y_name: 'Height',
                            square: this.dimensions.object_length * this.dimensions.object_height * 0.0001
                        },
                        {
                            name: 'Wall 2',
                            x: this.dimensions.object_length,
                            x_name: 'Width',
                            y: this.dimensions.object_height,
                            y_name: 'Height',
                            square: this.dimensions.object_length * this.dimensions.object_height * 0.0001
                        },
                        {
                            name: 'Wall 3',
                            x: this.dimensions.object_width,
                            x_name: 'Width',
                            y: this.dimensions.object_height,
                            y_name: 'Height',
                            square: this.dimensions.object_width * this.dimensions.object_height * 0.0001
                        },
                        {
                            name: 'Wall 4',
                            x: this.dimensions.object_width,
                            x_name: 'Width',
                            y: this.dimensions.object_height,
                            y_name: 'Height',
                            square: this.dimensions.object_width * this.dimensions.object_height * 0.0001
                        }
                    ]
                    if(this.excludeCeiling === false){
                        let ceiling = {
                            name: 'Ceiling',
                            x: this.dimensions.object_width,
                            x_name: 'Width',
                            y: this.dimensions.object_length,
                            y_name: 'Length',
                            square: this.dimensions.object_length * this.dimensions.object_width * 0.0001
                        }
                        objects_list.push(ceiling)
                    }
                    if(this.excludeFloor === false){
                        let floor = {
                            name: 'Floor',
                            x: this.dimensions.object_width,
                            x_name: 'Width',
                            y: this.dimensions.object_length,
                            y_name: 'Length',
                            square: this.dimensions.object_length * this.dimensions.object_width * 0.0001
                        }
                        objects_list.push(floor)
                    }

                    this.updateProjectCreateObjects(objects_list)
                    this.updateProjectCreateStep(4)
                    this.updateProjectCreate(this.$store.state.project.projectCreate)

                    //this.objects = objects_list
                } else {
                    this.error = 'Please enter all dimensions'
                }
            }
        },
    }
</script>

<style scoped>

</style>