<template>
    <div>
        <template v-if="error !== null">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </template>
        <div class="form-group">
            <label>Project Category</label>
            <select class="form-control" v-model="projectCreate.category">
                <option>Paint wall</option>
                <option>Put tiles</option>
            </select>
        </div>
        <div class="form-group">
            <label>Project Title</label>
            <input class="form-control" type="text" v-model="projectCreate.title"/>
        </div>
        <div class="form-group">
            <label>Project Description</label>
            <textarea class="form-control" v-model="projectCreate.description"></textarea>
        </div>
        <button @click="test">Next</button>
    </div>
</template>

<script>
    import { mapActions, mapState} from 'vuex'

    export default {
        name: "StepOne",
        data () {
            return {
                error: null
            }
        },
        computed: {
            ...mapState('project', [
                'projectCreate'
            ])
        },
        methods: {
            ...mapActions('project', [
                'updateProjectCreate',
                'updateProjectCreateStep'
            ]),
            test(){
                if(this.projectCreate.category === ''){
                    this.error = 'Please choose category'
                } else if(this.projectCreate.title === '') {
                    this.error = 'Please enter title'
                } else if(this.projectCreate.description === '') {
                    this.error = 'Please enter description'
                } else {
                    this.updateProjectCreateStep(2)
                    this.updateProjectCreate(this.$store.state.project.projectCreate)
                }
            }
        }
    }
</script>

<style scoped>

</style>