<template>
    <div>
        <div class="project-section">
            <div class="project-section-row">
                <div class="project-list-col">
                    <router-link to="/projects">
                        <img src="/img/projects.svg">
                        <div>ARBEITSLISTE</div>
                    </router-link>
                </div>
                <div class="project-right-col">
                    <div class="project-button-holder">
                        <router-link to="/create-project">
                            <img src="/img/new-project.svg">Neue Projekte
                        </router-link>
                    </div>
                    <div class="project-button-holder">
                        <a href="javascript:void(0)">
                            <img src="/img/manual-offer.svg">Manuelle Offerte
                        </a>
                    </div>
                </div>
            </div>
            <template v-if="projects.length > 0">
                <div class="projects-list">
                    <div class="project-item" v-for="project in projects.slice(0, 2)" :key="project.id">
                        <div class="project-item-row">
                            <div class="project-item-image-col">
                                <img src="/img/projects-small.svg">
                            </div>
                            <div class="project-item-text-col">
                                <router-link :to="`/project/${project.id}`">
                                    <div class="project-item-title">{{ project.title }}</div>
                                    <div class="project-item-description">{{ project.description }}</div>
                                </router-link>
                            </div>
                            <div class="project-item-offer-col">
                                <router-link :to="`/project/${project.id}/offer`" class="proceed">
                                    <img src="/img/offer.svg"/>
                                    <div class="offer-text">
                                        Offerte
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <template v-if="projects.length > 2">
                        <div class="projects-toggle-list" :class="{ 'active': projectsToggleList === true }">
                            <div class="project-item" v-for="project in projects.slice(2)" :key="project.id">
                                <div class="project-item-row">
                                    <div class="project-item-image-col">
                                        <img src="/img/projects-small.svg">
                                    </div>
                                    <div class="project-item-text-col">
                                        <router-link :to="`/project/${project.id}`">
                                            <div class="project-item-title">{{ project.title }}</div>
                                            <div class="project-item-description">{{ project.description }}</div>
                                        </router-link>
                                    </div>
                                    <div class="project-item-offer-col">
                                        <img src="/img/offer.svg"/>
                                        <div class="offer-text">
                                            Offerte
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="show-all-projects" @click="toggleProjectsList">
                            <img src="/img/down.svg" v-if="projectsToggleList === false"/>
                            <img src="/img/up.svg" v-else/>
                        </div>
                    </template>
                </div>
            </template>
        </div>
        <div class="appointments-section">
            <div class="appointments-section-row">
                <div class="appointments-list-col">
                    <router-link to="/under-construction">
                        <img src="/img/calendar-new.svg">
                        <div>MEINE TERMONE</div>
                    </router-link>
                </div>
                <div class="appointments-right-col">
                    <div class="appointment-label">Freie Termine</div>
                    <div class="add-appointment">
                        <a href="javascript:void(0)">
                            <div class="image-holder">
                                <img src="/img/add-appointment.svg">
                            </div>
                            06 Jul, 14:00 - 15:00
                        </a>
                    </div>
                    <div class="add-appointment">
                        <a href="javascript:void(0)">
                            <div class="image-holder">
                                <img src="/img/add-appointment.svg">
                            </div>
                            06 Jul, 15:00 - 16:00
                        </a>
                    </div>
                    <div class="add-appointment">
                        <a href="javascript:void(0)">
                            <div class="image-holder">
                                <img src="/img/add-appointment.svg">
                            </div>
                            06 Jul, 16:00 - 17:00
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="dashboard-container">-->
            <!--<div class="dashboard-row">-->
                <!--&lt;!&ndash;<div class="dashboard-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<router-link to="/under-construction">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="/img/calendar.svg">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div>Meine Termine</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</router-link>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="dashboard-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<router-link to="/projects">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="img/projects.svg">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div>Projekte</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</router-link>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="dashboard-item">-->
                    <!--<router-link to="/under-construction">-->
                        <!--<img src="/img/tools.svg">-->
                        <!--<div>Werkzeuge</div>-->
                    <!--</router-link>-->
                <!--</div>-->
                <!--<div class="dashboard-item">-->
                    <!--<router-link to="/contacts">-->
                        <!--<img src="/img/contacts.svg">-->
                        <!--<div>Kontakte</div>-->
                    <!--</router-link>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="dashboard-footer">-->
            <!--<div class="dashboard-footer-row">-->
                <!--<div class="dashboard-footer-col">-->
                    <!--<router-link to="/under-construction">Neue Termine</router-link>-->
                <!--</div>-->
                <!--<div class="dashboard-footer-col">-->
                    <!--<router-link to="/create-project">Neue Projekte</router-link>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>
projectsToggleList
<script>
    import { mapGetters, mapActions } from 'vuex'
    export default {
        name: "Dashboard",
        data () {
            return {
                projectsToggleList: false
            }
        },
        computed: {
            ...mapGetters('professionalProject', [
                'projects'
            ])
        },
        methods: {
            ...mapActions('professionalProject', [
                'getProjects',
            ]),
            toggleProjectsList() {
                this.projectsToggleList = !this.projectsToggleList
            }
        },
        created() {
            this.getProjects()
        }
    }
</script>

<style scoped>
    .project-section,
    .appointments-section {
        margin-right: -15px;
        margin-left: -15px;
    }
    .project-section-row,
    .appointments-section-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        height: 150px;
    }
    .project-section {
        background: #1E88E5;
    }
    .appointments-section {
        background: #00ACC1;
    }
    .project-list-col,
    .appointments-list-col {
        padding: 20px 15px 19px;
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        max-width: 150px;
    }
    .project-list-col a,
    .appointments-list-col a {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    .project-list-col img,
    .appointments-list-col img {
        margin-bottom: 5px;
    }
    .project-right-col,
    .appointments-right-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 150px);
        flex: 0 0 calc(100% - 150px);
        max-width: calc(100% - 150px);
    }
    .project-right-col {
        border-left: 1px solid #1976D2;
    }
    .appointments-right-col {
        border-left: 1px solid #00838F;
        padding: 15px 20px;
    }
    .project-button-holder {
        height: 75px;
        border-bottom: 1px solid #1976D2;
    }
    .project-button-holder:last-child {
        border-bottom: 1px solid transparent;
    }
    .project-button-holder a {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 34px;
        color: #FFFFFF;
        padding: 18px 20px 20px;
    }
    .project-button-holder a img {
        margin-right: 10px;
    }
    .appointment-label {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .add-appointment .image-holder {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #E0F7FA;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 6px;
    }
    .add-appointment a {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .projects-list {
        padding: 0 20px;
        background: #1976D2;
    }
    .project-item {
        padding: 10px 0;
        border-bottom: 1px solid #1565C0;
    }
    .project-item-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 -5px;
    }
    .project-item-image-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 46px;
        flex: 0 0 46px;
        max-width: 46px;
    }
    .project-item-image-col img{
        width: 36px;
    }
    .project-item-text-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 calc(100% - 116px);
        flex: 0 0 calc(100% - 116px);
        max-width: calc(100% - 116px);
    }
    .project-item-offer-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        flex: 0 0 70px;
        max-width: 70px;
    }
    .project-item-offer-col img {
        margin-right: 10px;
    }
    .offer-text {
        display: inline-block;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #BBDEFB;
    }
    .project-item-title {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .project-item-description {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 16px;
        color: #BBDEFB;
    }
    .show-all-projects {
        padding: 16px;
        text-align: center;
    }
    .projects-toggle-list {
        display: none;
    }
    .projects-toggle-list.active {
        display: block;
    }




    .dashboard-container {
        padding: 30px 20px 80px;
        margin: 0 -15px;
        background: #FAFAFA;
        min-height: calc(100vh - 50px);
    }
    .dashboard-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }
    .dashboard-item {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 5px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
    }
    .dashboard-item img {
        margin-bottom: 5px;
        max-width: 100%;
    }
    .dashboard-item a {
        display: block;
        background: #FFFFFF;
        padding: 30px;
        box-shadow: 0 3px 10px rgba(120, 144, 156, 0.12);
        border-radius: 5px;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    .dashboard-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
    }
    .dashboard-footer-row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 20px;
        margin: 0 -5px;
    }
    .dashboard-footer-col {
        position: relative;
        width: 100%;
        min-height: 1px;
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px;
    }
    .dashboard-footer-col a {
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        background: #1E88E5;
        border: 2px solid #1E88E5;
        border-radius: 50px;
        padding: 9px;
    }
</style>